# DS-SF-34 | 02 | The `pandas` Library | Codealong | Starter Code

(http://pandas.pydata.org/pandas-docs/stable)

## Part A - Introduction to `pandas`

In [48]:
import os

import numpy as np

import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

import re

> ## `pd.read_csv()`: load datasets from files (or even over the Internet)

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)

In [2]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-02-zillow-starter.csv'))

> ## `DataFrame`

Let's check `df`'s type:

In [5]:
# TODO
type(df)

pandas.core.frame.DataFrame

`df` is a `DataFrame`.  (http://pandas.pydata.org/pandas-docs/stable/dsintro.html)

A `DataFrame` stores tabular data.  Let's have a look at its content:

In [4]:
df

,ID,Address,Latitude,Longitude,DateOfSale,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,15063471,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,12/4/15,...,550.0,sqft,NaN,NaN,1980.0
1,15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,...,1430.0,sqft,2435.0,sqft,1948.0
2,15063609,"819 Francisco St, San Francisco, CA",37803728,-122419055,11/12/15,...,2040.0,sqft,3920.0,sqft,1976.0
3,15064044,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,12/11/15,...,1060.0,sqft,NaN,NaN,1930.0
4,15064257,"111 Chestnut St APT 403, San Francisco, CA",37804240,-122405509,1/15/16,...,1299.0,sqft,NaN,NaN,1993.0
...,...,...,...,...,...,...,...,...,...,...,...
995,2124214951,"412 Green St APT A, San Francisco, CA",37800040,-122406100,1/15/16,...,264.0,sqft,NaN,NaN,2012.0
996,2126960082,"355 1st St UNIT 1905, San Francisco, CA",37787029,-122393638,11/20/15,...,691.0,sqft,NaN,NaN,2004.0
997,2128308939,"33 Santa Cruz Ave, San Francisco, CA",37709136,-122465332,12/10/15,...,1738.0,sqft,2299.0,sqft,1976.0
998,2131957929,"1821 Grant Ave, San Francisco, CA",37803760,-122408531,12/15/15,...,1048.0,sqft,NaN,NaN,1975.0
999,2136213970,"1200 Gough St, San Francisco, CA",37784770,-122424100,1/10/16,...,900.0,sqft,NaN,NaN,1966.0

> ## `.head()`: first 5 (default) rows

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.head.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.head.html)

In [8]:
type(df.head(2))

pandas.core.frame.DataFrame

In [9]:
df[:2]

,ID,Address,Latitude,Longitude,DateOfSale,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,15063471,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,12/4/15,...,550.0,sqft,NaN,NaN,1980.0
1,15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,...,1430.0,sqft,2435.0,sqft,1948.0

> ## `.tail()`: last 5 (default) rows

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.tail.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.tail.html)

In [10]:
# TODO
df[-5:]

,ID,Address,Latitude,Longitude,DateOfSale,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
995,2124214951,"412 Green St APT A, San Francisco, CA",37800040,-122406100,1/15/16,...,264.0,sqft,NaN,NaN,2012.0
996,2126960082,"355 1st St UNIT 1905, San Francisco, CA",37787029,-122393638,11/20/15,...,691.0,sqft,NaN,NaN,2004.0
997,2128308939,"33 Santa Cruz Ave, San Francisco, CA",37709136,-122465332,12/10/15,...,1738.0,sqft,2299.0,sqft,1976.0
998,2131957929,"1821 Grant Ave, San Francisco, CA",37803760,-122408531,12/15/15,...,1048.0,sqft,NaN,NaN,1975.0
999,2136213970,"1200 Gough St, San Francisco, CA",37784770,-122424100,1/10/16,...,900.0,sqft,NaN,NaN,1966.0

> ## `.shape`: shape (i.e., number of rows and columns)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.shape.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.shape.html)

In [11]:
df.shape

(1000, 15)

The first value (at index 0) is the number of rows, the second (at index 1), the number of columns:

In [12]:
df.shape[0]

1000

In [13]:
# TODO

You can also use the idiomatic Python `len` function to get the number of rows:

In [14]:
len(df)

1000

> ## `.dtypes`: column types

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.dtypes.html)
- (http://pandas.pydata.org/pandas-docs/stable/basics.html)

In [15]:
df.dtypes

ID               int64
Address         object
Latitude         int64
Longitude        int64
DateOfSale      object
                ...
Size           float64
SizeUnit        object
LotSize        float64
LotSizeUnit     object
BuiltInYear    float64
dtype: object

> ## `.isnull()` and `.notnull()`: NaN (Not-a-Number)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.isnull.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.isnull.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.isnull.html)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.notnull.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.notnull.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.notnull.html)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sum.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.sum.html)

As a data scientist, we will have to decide what to do when encountering missing values (a.k.a, not-a-numbers).  We might decide to drop the row containing it, drop the whole column, or impute it.  Today, let's focus on finding these NaNs.

In [16]:
df.isnull()

,ID,Address,Latitude,Longitude,DateOfSale,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,False,False,False,False,False,...,False,False,True,True,False
1,False,False,False,False,False,...,False,False,False,False,False
2,False,False,False,False,False,...,False,False,False,False,False
3,False,False,False,False,False,...,False,False,True,True,False
4,False,False,False,False,False,...,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,...,False,False,True,True,False
996,False,False,False,False,False,...,False,False,True,True,False
997,False,False,False,False,False,...,False,False,False,False,False
998,False,False,False,False,False,...,False,False,True,True,False
999,False,False,False,False,False,...,False,False,True,True,False

In return, we get a new `DataFrame` with Boolean values.  `True` if the value is `NaN`, `False` otherwise.

We can also get the count per column:

In [19]:
df.isnull().sum()

ID                 0
Address            0
Latitude           0
Longitude          0
DateOfSale         0
SalePrice          0
SalePriceUnit      0
IsAStudio         14
Beds             164
Baths             58
Size              33
SizeUnit          33
LotSize          444
LotSizeUnit      444
BuiltInYear       25
dtype: int64

Summing again will return the number of cells in the `DataFrame` with missing values.

In [ ]:
# TODO

Equivalently, we can also use the `.isnull()` function:

In [ ]:
pd.isnull(df)

We also also use `.notnull()`, its complement method:

In [ ]:
df.notnull()

In [ ]:
pd.notnull(df)

> ### `.index` and `.columns`: row and column labels

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Index.html)

Use the `.index` property to get the label for rows.  For columns, use the `.columns` property.

In [20]:
df.index

RangeIndex(start=0, stop=1000, step=1)

In [21]:
type(df.index)

pandas.indexes.range.RangeIndex

In this specific case, rows are just numbered from 0 to 1,000.  Note that, similarly to Python's standard `range` function, this range also excludes the last number.

In [22]:
df.columns

Index([u'ID', u'Address', u'Latitude', u'Longitude', u'DateOfSale',
       u'SalePrice', u'SalePriceUnit', u'IsAStudio', u'Beds', u'Baths',
       u'Size', u'SizeUnit', u'LotSize', u'LotSizeUnit', u'BuiltInYear'],
      dtype='object')

In [23]:
type(df.columns)

pandas.indexes.base.Index

> ## `[ [] ]` and `[]`: subsetting on columns

Selecting specific columns is performed by using the `[]` operator.

Passing a single integer, or a list of integers, to `[]` will perform a location-based lookup of the columns.

> E.g., columns #5 and #6:

In [24]:
# TODO
df[[5,6]]

     SalePrice SalePriceUnit
0    710000.00             $
1         2.15            $M
2         5.60            $M
3         1.50            $M
4    970000.00             $
5    940000.00             $
6    835000.00             $
7         2.83            $M
8         4.05            $M
9         2.19            $M
10   800000.00             $
11   976000.00             $
12   720000.00             $
13        2.25            $M
14        1.29            $M
15        2.90            $M
16        2.60            $M
17   908000.00             $
18        1.21            $M
19        1.70            $M
20        1.28            $M
21   875000.00             $
22   300000.00             $
23   425000.00             $
24        1.95            $M
25   775000.00             $
26   705000.00             $
27   695000.00             $
28        1.41            $M
29        1.68            $M
30        3.80            $M
31   665000.00             $
32   900000.00             $
33   738000.00             $
34   790000.00             $
35        2.49            $M
36   535000.00             $
37   650000.00             $
38        1.20            $M
39   485000.00             $
40        3.80            $M
41        2.55            $M
42        3.08            $M
43        3.33            $M
44        3.02            $M
45        9.71            $M
46        2.50            $M
47        1.38            $M
48   885000.00             $
49   718000.00             $
..         ...           ...
950       1.25            $M
951  995000.00             $
952       1.10            $M
953       2.00            $M
954       1.21            $M
955  450000.00             $
956       4.50            $M
957       1.75            $M
958    2500.00             $
959  680000.00             $
960  750000.00             $
961       1.29            $M
962       1.21            $M
963       1.16            $M
964       1.23            $M
965       1.60            $M
966       1.80            $M
967       2.80            $M
968       1.07            $M
969  915000.00             $
970       1.55            $M
971  510000.00             $
972       2.45            $M
973  970000.00             $
974       1.30            $M
975       1.70            $M
976  785000.00             $
977       1.15            $M
978       1.14            $M
979       1.25            $M
980       3.15            $M
981  835000.00             $
982  890000.00             $
983       1.40            $M
984  750000.00             $
985       2.90            $M
986       1.80            $M
987    5800.00             $
988       1.24            $M
989       1.73            $M
990       1.40            $M
991  757500.00             $
992       1.43            $M
993  675000.00             $
994       2.75            $M
995  390000.00             $
996  860000.00             $
997  830000.00             $
998  835000.00             $
999  825000.00             $

[1000 rows x 2 columns]

> Let's check that the column subsetting returns a `DataFrame`:

In [26]:
# TODO
type(df[[7]])
df[[7]]

    IsAStudio
0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8        True
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23       True
24      False
25      False
26      False
27      False
28      False
29      False
30      False
31      False
32      False
33       True
34      False
35      False
36       True
37      False
38      False
39       True
40      False
41      False
42      False
43      False
44      False
45      False
46      False
47      False
48      False
49      False
..        ...
950     False
951     False
952     False
953     False
954     False
955     False
956     False
957     False
958     False
959     False
960     False
961     False
962     False
963     False
964     False
965       NaN
966     False
967     False
968     False
969     False
970     False
971     False
972     False
973     False
974     False
975     False
976     False
977     False
978      True
979     False
980      True
981     False
982     False
983     False
984     False
985      True
986     False
987       NaN
988     False
989     False
990     False
991     False
992     False
993     False
994      True
995      True
996     False
997     False
998     False
999     False

[1000 rows x 1 columns]

> Note that a `DataFrame` can be made of a single column.  E.g., column #7 only:

In [ ]:
# TODO

If the values passed to `[]` are non-integers, the `DataFrame` will attempt to match them to those in the `columns` property.

> Let's subset the `DataFrame` on columns `SalePrice` and `SalePriceUnit`:

In [ ]:
# TODO

However, you cannot mix integers and non-integers.  E.g.,

In [ ]:
# "df[ ['SalePrice', 6] ]" errors out...  Try it!

Not passing a list always results in a value-based lookup of the column:

In [ ]:
df['Address']

> ## `Series`

(http://pandas.pydata.org/pandas-docs/stable/dsintro.html)

> Let's check the result type:

In [ ]:
# TODO

Columns can also be retrieved using "attribute" access as `DataFrame`s add a property for each column with the names of the properties as the names of the columns.  This won't work however for columns that have spaces or dots in their name.

> Let's check the value of `df`'s `.Address` property:

In [ ]:
# TODO

> Use the `.name` property (not `.columns`, that's for a `DataFrame`) to get the name of the variable stored inside it.

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.name.html)

In [ ]:
# TODO

> To find the zero-based location of a column, use the `.get_loc()` method of the `.columns` property.  E.g.,

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Index.get_loc.html)

In [ ]:
df.columns.get_loc('Beds')

In [ ]:
df[ [df.columns.get_loc('Beds')] ]

We should get the same output as subsetting a `DataFrame` on `Beds`:

In [ ]:
# TODO

> ## `[]`: slicing on rows

> E.g., on the first five rows:

In [ ]:
# TODO

> ## `.loc[]` and `.iloc[]`: subsetting rows by index label and location

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.loc.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.loc.html)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.iloc.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.iloc.html)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.set_index.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.set_index.html)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.reset_index.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.reset_index.html)

Until now, the index of the `DataFrame` is a numerical starting from 0 but you can specify which column(s) should be in the index.

> E.g., `ID`:

In [27]:
df = df.set_index('ID')

In [28]:
df.index

Int64Index([  15063471,   15063505,   15063609,   15064044,   15064257,
              15064295,   15064391,   15064536,   15064640,   15064669,
            ...
            2108546010, 2114498518, 2121221385, 2121978635, 2122992200,
            2124214951, 2126960082, 2128308939, 2131957929, 2136213970],
           dtype='int64', name=u'ID', length=1000)

In [29]:
df

,Address,Latitude,Longitude,DateOfSale,SalePrice,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,12/4/15,710000.00,...,550.0,sqft,NaN,NaN,1980.0
15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,2.15,...,1430.0,sqft,2435.0,sqft,1948.0
15063609,"819 Francisco St, San Francisco, CA",37803728,-122419055,11/12/15,5.60,...,2040.0,sqft,3920.0,sqft,1976.0
15064044,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,12/11/15,1.50,...,1060.0,sqft,NaN,NaN,1930.0
15064257,"111 Chestnut St APT 403, San Francisco, CA",37804240,-122405509,1/15/16,970000.00,...,1299.0,sqft,NaN,NaN,1993.0
15064295,"111 Chestnut St APT 702, San Francisco, CA",37804240,-122405509,12/17/15,940000.00,...,1033.0,sqft,NaN,NaN,1993.0
15064391,"1821 Grant Ave APT 101, San Francisco, CA",37803748,-122408531,12/15/15,835000.00,...,1048.0,sqft,NaN,NaN,1975.0
15064536,"2300 Leavenworth St, San Francisco, CA",37802408,-122417537,12/4/15,2.83,...,2115.0,sqft,1271.0,sqft,1913.0
15064640,"1047-1049 Lombard St, San Francisco, CA",37801889,-122418704,1/14/16,4.05,...,4102.0,sqft,3049.0,sqft,1948.0
15064669,"1055 Lombard St # C, San Francisco, CA",37801873,-122418834,12/31/15,2.19,...,1182.0,sqft,NaN,NaN,1986.0
15065032,"101 Lombard St APT 116E, San Francisco, CA",37803470,-122404090,12/7/15,800000.00,...,1000.0,sqft,NaN,NaN,1983.0
15065140,"1407 Montgomery St APT 2, San Francisco, CA",37802299,-122404941,1/28/16,976000.00,...,1000.0,sqft,NaN,NaN,1870.0
15065727,"1360 Montgomery St APT 1, San Francisco, CA",37801802,-122404269,11/16/15,720000.00,...,552.0,sqft,NaN,NaN,1937.0
15065810,"1327-1329 Kearny St, San Francisco, CA",37800260,-122406123,11/25/15,2.25,...,2658.0,sqft,1600.0,sqft,1906.0
15065946,"44 Macondray Ln APT 2E, San Francisco, CA",37799474,-122414835,11/30/15,1.29,...,1165.0,sqft,NaN,NaN,1980.0
15066001,"1070 Green St APT 201, San Francisco, CA",37798792,-122416797,11/18/15,2.90,...,1465.0,sqft,NaN,NaN,1963.0
15066036,"1070 Green St APT 1402, San Francisco, CA",37798792,-122416797,12/31/15,2.60,...,2017.0,sqft,NaN,NaN,1963.0
15066085,"1907 Leavenworth St APT 8, San Francisco, CA",37798645,-122417500,11/12/15,908000.00,...,956.0,sqft,NaN,NaN,1907.0
15066201,"1101 Green St # 303, San Francisco, CA",37798234,-122417394,11/16/15,1.21,...,1003.0,sqft,NaN,NaN,1930.0
15066281,"1807 Jones St, San Francisco, CA",37797920,-122415745,12/15/15,1.70,...,1467.0,sqft,3023.0,sqft,1922.0
15066344,"999 Green St APT 905, San Francisco, CA",37798451,-122415218,12/10/15,1.28,...,986.0,sqft,NaN,NaN,1964.0
15066608,"455 Vallejo St APT 111, San Francisco, CA",37798796,-122404766,12/16/15,875000.00,...,825.0,sqft,NaN,NaN,1973.0
15066839,"1163-1165 Vallejo St, San Francisco, CA",37797445,-122416366,12/1/15,300000.00,...,2344.0,sqft,1376.0,sqft,1913.0
15066959,"1300 Pacific Ave, San Francisco, CA",37795805,-122416840,1/14/16,425000.00,...,989.0,sqft,NaN,NaN,1910.0
15067302,"948 Jackson St, San Francisco, CA",37795662,-122410789,11/13/15,1.95,...,4362.0,sqft,1459.0,sqft,1908.0
15067583,"946 Stockton St APT 6B, San Francisco, CA",37794715,-122407810,12/18/15,775000.00,...,710.0,sqft,NaN,NaN,1970.0
15067604,"946 Stockton St APT 9E, San Francisco, CA",37794715,-122407810,12/2/15,705000.00,...,744.0,sqft,NaN,NaN,1970.0
15067755,"1250 Clay St APT 306, San Francisco, CA",37793575,-122413670,1/10/16,695000.00,...,541.0,sqft,NaN,NaN,1950.0
15067890,"1250 Jones St APT 503, San Francisco, CA",37793071,-122414049,12/4/15,1.41,...,1250.0,sqft,NaN,NaN,1929.0
15067896,"1250 Jones St APT 802, San Francisco, CA",37793071,-122414049,12/15/15,1.68,...,1115.0,sqft,NaN,NaN,1929.0
15068039,"1170 Sacramento St APT 9B, San Francisco, CA",37792930,-122412195,12/3/15,3.80,...,1961.0,sqft,NaN,NaN,1963.0
15068514,"1177 California St APT 702, San Francisco, CA",37791089,-122413658,12/18/15,665000.00,...,511.0,sqft,NaN,NaN,1978.0
15068551,"1177 California St APT 501, San Francisco, CA",37791089,-122413658,12/15/15,900000.00,...,884.0,sqft,NaN,NaN,1978.0
15068580,"1177 California St APT 423, San Francisco, CA",37791089,-122413658,12/29/15,738000.00,...,706.0,sqft,NaN,NaN,1978.0
15068592,"1177 California St APT 304, San Francisco, CA",37791089,-122413658,12/1/15,790000.00,...,645.0,sqft,NaN,NaN,1977.0
15068767,"767-771 Pine St, San Francisco, CA",37790971,-122408473,12/31/15,2.49,...,4605.0,sqft,1376.0,sqft,1909.0
15068857,"1001 Pine St APT 608, San Francisco, CA",37790348,-122412568,12/7/15,535000.00,...,450.0,sqft,NaN,NaN,1964.0
15068874,"1001 Pine St APT 801, San Francisco, CA",37790348,-122412568,12/24/15,650000.00,...,650.0,sqft,NaN,NaN,1963.0
15069276,"795 Sutter St # 303, San Francisco, CA",37788404,-122413260,11/15/15,1.20,...,1753.0,sqft,NaN,NaN,1913.0
15069477,"631 Ofarrell St APT 816, San Francisco, CA",37785240,-122415125,12/18/15,485000.00,...,480.0,sqft,NaN,NaN,1930.0
15069628,"47-49 Casa Way, San Francisco, CA",37805371,-122439029,11/25/15,3.80,...,3905.0,sqft,2748.0,sqft,1939.0
15069883,"59 Rico Way, San Francisco, CA",37804909,-122439650,12/21/15,2.55,...,1675.0,sqft,2613.0,sqft,1925.0
15070227,"134 Alhambra St, San Francisco, CA",37802318,-122438801,1/18/16,3.08,...,2599.0,sqft,3005.0,sqft,1925.0
15070235,"180 Alhambra St, San Francisco, CA",37801939,-122439299,12/7/15,3.33,...,2864.0,sqft,2286.0,sqft,1925.0
15070255,"146 Avila St, San Francisco, CA",37801998,-122440411,12/23/15,3.02,...,2100.0,sqft,2495.0,sqft,1924.0
15070544,"1051-1053 Francisco St, San Francisco, CA",37803239,-122422458,12/1/15,9.71,...,4650.0,sqft,4726.0,sqft,1953.0
15070728,"3315 Pierce St, San Francisco, CA",37800650,-122439786,1/6/16,2.50,...,2255.0,sqft,2500.0,sqft,1925.0
15070807,"1763-1765 Chestnut St, San Francisco, CA",37801061,-122432273,12/1/15,1.38,...,3260.0,sqft,3000.0,sqft,1920.0
15071012,"2701 Van Ness Ave APT 207, San Francisco, CA",37800573,-122424849,11/30/15,885000.00,...,885.0,sqft,NaN,NaN,1929.0
15071070,"2701 Van Ness Ave APT 702, San Francisco, CA",37800573,-122424849,12/2/15,718000.00,...,793.0,sqft,NaN,NaN,1929.0
...,...,...,...,...,...,...,...,...,...,...,...
2100170419,"3947 17th Street, San Francisco, CA",37762490,-122433500,2/4/16,1.25,...,1250.0,sqft,NaN,NaN,1910.0
2100628935,"2261-65 Fulton #2263, San Francisco, CA",37772873,-122453442,1/12/16,995000.00,...,1420.0,sqft,NaN,NaN,1911.0
2100643449,"2149 Lyon St APT 4, San Francisco, CA",37790535,-122446099,12/27/15,1.10,...,NaN,NaN,NaN,NaN,1907.0
2100646549,"1529 Golden Gate Ave, San Francisco, CA",37778720,-122436600,1/7/16,2.00,...,2120.0,sqft,NaN,NaN,1900.0
2100651320,"3330 Clay St # C, San Francisco, CA",37789264,-122447761,1/5/16,1.21,...,1283.0,sqft,NaN,NaN,1910.0
2100682649,"520 Natoma St APT 9, San Francisco, CA",37779880,-122408300,12/1/15,450000.00,...,NaN,NaN,NaN,NaN,1911.0
2100695464,"532 Lyon St, San Francisco, CA",37775802,-122442710,11/24/15,4.50,...,NaN,NaN,3044.0,sqft,1904.0
2100695466,"980 Baker St APT 3, San Francisco, CA",37780437,-122441474,12/22/15,1.75,...,1758.0,sqft,NaN,NaN,1961.0
2100784055,"55 1/2 Lucy St, San Francisco, CA",37729980,-122393157,12/31/15,2500.00,...,1000.0,sqft,NaN,NaN,NaN
2100786271,"2149 Lyon St APT 1, San Francisco, CA",37790535,-122446099,12/1/15,680000.00,...,NaN,NaN,NaN,NaN,1907.0
2100791455,"130A Langton Street, San Francisco, CA",37776110,-122408270,12/13/15,750000.00,...,1000.0,sqft,NaN,NaN,1906.0
2100830039,"1731 Larkin St APT 3, San Francisco, CA",37793838,-122420013,2/9/16,1.29,...,NaN,NaN,NaN,NaN,NaN
2100831587,"164 Parker Ave # B, San Francisco, CA",37782512,-122454025,12/3/15,1.21,...,NaN,NaN,NaN,NaN,NaN
2100831588,"164 Parker Ave # A, San Francisco, CA",37782512,-122454025,11/19/15,1.16,...,NaN,NaN,NaN,NaN,NaN
2100831589,"181 Noe St, San Francisco, CA",37766201,-122433226,11/22/15,1.23,...,NaN,NaN,NaN,NaN,NaN
2100835351,"1676 Newcomb Ave, San Francisco, CA",37736278,-122391098,12/8/15,1.60,...,NaN,NaN,NaN,NaN,1900.0
2100850402,"1915 Diamond St, San Francisco, CA",37742141,-122435111,12/29/15,1.80,...,2400.0,sqft,4356.0,sqft,1910.0
2100861826,"1606 Jones St, San Francisco, CA",37796169,-122414825,12/11/15,2.80,...,4035.0,sqft,NaN,NaN,1907.0
2100901630,"1890 Jefferson Street #302, San Francisco, CA",37804840,-122442970,2/4/16,1.07,...,1018.0,sqft,NaN,NaN,1934.0
2100902229,"2299 Market St APT 502, San Francisco, CA",37764100,-122433000,12/3/15,915000.00,...,700.0,sqft,NaN,NaN,2013.0
2100992607,"2137 Pine St, San Francisco, CA",37788242,-122430988,1/15/16,1.55,...,1632.0,sqft,NaN,NaN,NaN
2100994004,"409 Miguel St, San Francisco, CA",37736625,-122427008,12/9/15,510000.00,...,400.0,sqft,NaN,NaN,NaN
2101028916,"251 Missouri St, San Francisco, CA",37763202,-122396270,12/17/15,2.45,...,2301.0,sqft,NaN,NaN,1900.0
2101094207,"1650 Florida St, San Francisco, CA",37746898,-122409301,11/29/15,970000.00,...,NaN,NaN,NaN,NaN,1904.0
2101105851,"41 Collingwood St, San Francisco, CA",37761579,-122436123,12/10/15,1.30,...,1496.0,sqft,NaN,NaN,1908.0
2101116542,"2753 Bryant St, San Francisco, CA",37750270,-122408600,1/14/16,1.70,...,4005.0,sqft,NaN,NaN,1900.0
2101147349,"244 Precita Ave, San Francisco, CA",37747330,-122415110,11/26/15,785000.00,...,625.0,sqft,NaN,NaN,1908.0
2101153805,"6 Rossi Ave, San Francisco, CA",37779494,-122456412,12/2/15,1.15,...,1912.0,sqft,NaN,NaN,1941.0
2101156735,"333 Potrero Ave, San Francisco, CA",37765266,-122407150,1/5/16,1.14,...,1776.0,sqft,3746.0,sqft,1905.0
2101167573,"1340 Union St, San Francisco, CA",37798930,-122421388,1/25/16,1.25,...,1108.0,sqft,NaN,NaN,1951.0
2101169168,"688 Douglass St, San Francisco, CA",37752803,-122438919,11/10/15,3.15,...,3500.0,sqft,2495.0,sqft,1908.0
2101175813,"414 Linden St, San Francisco, CA",37776218,-122424930,12/13/15,835000.00,...,NaN,NaN,NaN,NaN,1909.0
2101331127,"1408 31st Ave APT 303, San Francisco, CA",37760994,-122489700,12/28/15,890000.00,...,1424.0,sqft,NaN,NaN,2008.0
2101505254,"333 Beale St, San Francisco, CA",37788280,-122392100,12/3/15,1.40,...,950.0,sqft,NaN,NaN,2015.0
2101588805,"82 Alvarado St, San Francisco, CA",37754504,-122422736,11/19/15,750000.00,...,NaN,NaN,NaN,NaN,NaN
2101807538,"2619 Sacramento St, San Francisco, CA",37789371,-122436058,12/2/15,2.90,...,NaN,NaN,2038.0,sqft,1900.0
2102385068,"129 Central Ave, San Francisco, CA",37770870,-122443840,12/1/15,1.80,...,NaN,NaN,NaN,NaN,1905.0
2102906272,"444 Linden St, San Francisco, CA",37776170,-122425300,12/14/15,5800.00,...,NaN,NaN,NaN,NaN,NaN
2106229715,"2595 38th Ave, San Francisco, CA",37738600,-122496000,1/19/16,1.24,...,2414.0,sqft,1306.0,sqft,1943.0
2108411930,"3500 19th St, San Francisco, CA",37760100,-122422000,12/29/15,1.73,...,1500.0,sqft,NaN,NaN,2013.0
2108546010,"1738 Lombard St APT 4, San Francisco, CA",37800910,-122430229,1/14/16,1.40,...,NaN,NaN,NaN,NaN,2004.0
2114498518,"201 Sansome St UNIT 501, San Francisco, CA",37792255,-122401245,1/26/16,757500.00,...,658.0,sqft,NaN,NaN,1909.0
2121221385,"925 Larkin St, San Francisco, CA",37786427,-122418222,11/30/15,1.43,...,6600.0,sqft,NaN,NaN,1907.0
2121978635,"829 Folsom St UNIT 906, San Francisco, CA",37781429,-122401860,12/6/15,675000.00,...,557.0,sqft,NaN,NaN,2010.0
2122992200,"129 Octavia St, San Francisco, CA",37773192,-122424037,11/20/15,2.75,...,3655.0,sqft,NaN,NaN,1883.0
2124214951,"412 Green St APT A, San Francisco, CA",37800040,-122406100,1/15/16,390000.00,...,264.0,sqft,NaN,NaN,2012.0
2126960082,"355 1st St UNIT 1905, San Francisco, CA",37787029,-122393638,11/20/15,860000.00,...,691.0,sqft,NaN,NaN,2004.0
2128308939,"33 Santa Cruz Ave, San Francisco, CA",37709136,-122465332,12/10/15,830000.00,...,1738.0,sqft,2299.0,sqft,1976.0
2131957929,"1821 Grant Ave, San Francisco, CA",37803760,-122408531,12/15/15,835000.00,...,1048.0,sqft,NaN,NaN,1975.0
2136213970,"1200 Gough St, San Francisco, CA",37784770,-122424100,1/10/16,825000.00,...,900.0,sqft,NaN,NaN,1966.0

> E.g., row with index 15063505:

In [30]:
# TODO
df.loc[15063505]

Address          740 Francisco St, San Francisco, CA
Latitude                                    37804420
Longitude                                 -122417389
DateOfSale                                  11/30/15
SalePrice                                       2.15
SalePriceUnit                                     $M
IsAStudio                                      False
Beds                                             NaN
Baths                                              2
Size                                            1430
SizeUnit                                        sqft
LotSize                                         2435
LotSizeUnit                                     sqft
BuiltInYear                                     1948
Name: 15063505, dtype: object

Its name is its value in the index.

> E.g., rows with indices 15063505 and 15064044:

In [31]:
# TODO
df.loc[ [15063505,15064044]]

,Address,Latitude,Longitude,DateOfSale,SalePrice,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,2.15,...,1430.0,sqft,2435.0,sqft,1948.0
15064044,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,12/11/15,1.50,...,1060.0,sqft,NaN,NaN,1930.0

> E.g., rows #1 and #3:

In [ ]:
# TODO

> ## `.at[]` and `.iat[]`: scalar lookup by label or location

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.at.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.at.html)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.iat.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.iat.html)

Scalar values can be looked up by label using `.at`, by passing both the row label and then the column name/value.

> E.g., row with index 15064044 and column `DateOfSale`.

In [32]:
# TODO
df.at[15064044,'DateOfSale']

'12/11/15'

Scalar values can also be looked up by location using `.iat` by passing both the row location and then the column location.

> E.g., row #3 and column #3:

In [33]:
# TODO
df.columns

Index([u'Address', u'Latitude', u'Longitude', u'DateOfSale', u'SalePrice',
       u'SalePriceUnit', u'IsAStudio', u'Beds', u'Baths', u'Size', u'SizeUnit',
       u'LotSize', u'LotSizeUnit', u'BuiltInYear'],
      dtype='object')

In [35]:
df[df.BuiltInYear < 1900]

,Address,Latitude,Longitude,DateOfSale,SalePrice,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
15065140,"1407 Montgomery St APT 2, San Francisco, CA",37802299,-122404941,1/28/16,976000.00,...,1000.0,sqft,NaN,NaN,1870.0
15076156,"1533 Sutter St, San Francisco, CA",37786658,-122426481,11/12/15,5.53,...,7375.0,sqft,2748.0,sqft,1890.0
15078536,"640 Steiner St, San Francisco, CA",37775399,-122432491,12/15/15,1.50,...,1593.0,sqft,NaN,NaN,1895.0
15078866,"753-755 Oak St, San Francisco, CA",37773576,-122431663,11/10/15,375000.00,...,2430.0,sqft,3781.0,sqft,1890.0
15082108,"3016 Sacramento St, San Francisco, CA",37788970,-122442995,12/22/15,1.85,...,1408.0,sqft,NaN,NaN,1890.0
15084954,"1954 Golden Gate Ave, San Francisco, CA",37778420,-122443073,11/24/15,1.10,...,1515.0,sqft,NaN,NaN,1895.0
15145720,"956 S Van Ness Ave, San Francisco, CA",37757832,-122417139,11/23/15,2.67,...,3500.0,sqft,4165.0,sqft,1872.0
15181209,"1001 Diamond St # 1001A, San Francisco, CA",37749461,-122435844,11/24/15,3.10,...,2032.0,sqft,1913.0,sqft,1892.0
63197592,"3021 20th St, San Francisco, CA",37758878,-122411147,12/7/15,1.10,...,1267.0,sqft,NaN,NaN,1890.0
82785514,"1394 Mcallister St, San Francisco, CA",37778463,-122434933,11/13/15,2.10,...,2300.0,sqft,NaN,NaN,1890.0
114318108,"1442 Grove St # A, San Francisco, CA",37775894,-122440467,12/24/15,675000.00,...,593.0,sqft,NaN,NaN,1890.0
119684777,"967 Hayes St, San Francisco, CA",37775645,-122432222,12/17/15,1.95,...,3006.0,sqft,NaN,NaN,1885.0
123597223,"1954 Golden Gate Ave, San Francisco, CA",37778246,-122442763,11/24/15,1.10,...,1275.0,sqft,NaN,NaN,1895.0
123597388,"667 Shotwell St # A, San Francisco, CA",37757851,-122415629,2/10/16,775000.00,...,1212.0,sqft,NaN,NaN,1890.0
2122992200,"129 Octavia St, San Francisco, CA",37773192,-122424037,11/20/15,2.75,...,3655.0,sqft,NaN,NaN,1883.0

> ## Subsetting rows by Boolean selection (a.k.a., masking)

Rows can also be selected by using Boolean selection, using an array calculated from the result of applying a logical condition on the values in any of the columns.  This allows us to build more complicated selections than those based simply upon index labels or positions.

> E.g., what homes have been built before 1900?

In [ ]:
# TODO

> Let's subset on that `Series`:

In [ ]:
# TODO

Multiple conditions can be put together.

> E.g., subset for `BuiltInYear` below 1900 and `Size` over 1500:

In [ ]:
# TODO argurment and use &, argurment or use | 
df[(df.BuiltInYear < 1900) & (df.Size > 1500)]

It is possible to subset on columns simultaneously.

> E.g., subset (a `DataFrame`) on `Address` for `BuiltInYear` below 1900 and `Size` over 1500:

In [ ]:
# TODO

> To get a `Series` instead of a `DataFrame`:

In [ ]:
# TODO

## Part B - Wrangling the SF Housing dataset (take 2) with `pandas`

In [36]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-02-zillow-starter.csv'), index_col = 'ID')

(`pd.read_csv` can load the dataset and set the index column for the `DataFrame` at the same time)

In [37]:
df

,Address,Latitude,Longitude,DateOfSale,SalePrice,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,12/4/15,710000.00,...,550.0,sqft,NaN,NaN,1980.0
15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,2.15,...,1430.0,sqft,2435.0,sqft,1948.0
15063609,"819 Francisco St, San Francisco, CA",37803728,-122419055,11/12/15,5.60,...,2040.0,sqft,3920.0,sqft,1976.0
15064044,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,12/11/15,1.50,...,1060.0,sqft,NaN,NaN,1930.0
15064257,"111 Chestnut St APT 403, San Francisco, CA",37804240,-122405509,1/15/16,970000.00,...,1299.0,sqft,NaN,NaN,1993.0
15064295,"111 Chestnut St APT 702, San Francisco, CA",37804240,-122405509,12/17/15,940000.00,...,1033.0,sqft,NaN,NaN,1993.0
15064391,"1821 Grant Ave APT 101, San Francisco, CA",37803748,-122408531,12/15/15,835000.00,...,1048.0,sqft,NaN,NaN,1975.0
15064536,"2300 Leavenworth St, San Francisco, CA",37802408,-122417537,12/4/15,2.83,...,2115.0,sqft,1271.0,sqft,1913.0
15064640,"1047-1049 Lombard St, San Francisco, CA",37801889,-122418704,1/14/16,4.05,...,4102.0,sqft,3049.0,sqft,1948.0
15064669,"1055 Lombard St # C, San Francisco, CA",37801873,-122418834,12/31/15,2.19,...,1182.0,sqft,NaN,NaN,1986.0
15065032,"101 Lombard St APT 116E, San Francisco, CA",37803470,-122404090,12/7/15,800000.00,...,1000.0,sqft,NaN,NaN,1983.0
15065140,"1407 Montgomery St APT 2, San Francisco, CA",37802299,-122404941,1/28/16,976000.00,...,1000.0,sqft,NaN,NaN,1870.0
15065727,"1360 Montgomery St APT 1, San Francisco, CA",37801802,-122404269,11/16/15,720000.00,...,552.0,sqft,NaN,NaN,1937.0
15065810,"1327-1329 Kearny St, San Francisco, CA",37800260,-122406123,11/25/15,2.25,...,2658.0,sqft,1600.0,sqft,1906.0
15065946,"44 Macondray Ln APT 2E, San Francisco, CA",37799474,-122414835,11/30/15,1.29,...,1165.0,sqft,NaN,NaN,1980.0
15066001,"1070 Green St APT 201, San Francisco, CA",37798792,-122416797,11/18/15,2.90,...,1465.0,sqft,NaN,NaN,1963.0
15066036,"1070 Green St APT 1402, San Francisco, CA",37798792,-122416797,12/31/15,2.60,...,2017.0,sqft,NaN,NaN,1963.0
15066085,"1907 Leavenworth St APT 8, San Francisco, CA",37798645,-122417500,11/12/15,908000.00,...,956.0,sqft,NaN,NaN,1907.0
15066201,"1101 Green St # 303, San Francisco, CA",37798234,-122417394,11/16/15,1.21,...,1003.0,sqft,NaN,NaN,1930.0
15066281,"1807 Jones St, San Francisco, CA",37797920,-122415745,12/15/15,1.70,...,1467.0,sqft,3023.0,sqft,1922.0
15066344,"999 Green St APT 905, San Francisco, CA",37798451,-122415218,12/10/15,1.28,...,986.0,sqft,NaN,NaN,1964.0
15066608,"455 Vallejo St APT 111, San Francisco, CA",37798796,-122404766,12/16/15,875000.00,...,825.0,sqft,NaN,NaN,1973.0
15066839,"1163-1165 Vallejo St, San Francisco, CA",37797445,-122416366,12/1/15,300000.00,...,2344.0,sqft,1376.0,sqft,1913.0
15066959,"1300 Pacific Ave, San Francisco, CA",37795805,-122416840,1/14/16,425000.00,...,989.0,sqft,NaN,NaN,1910.0
15067302,"948 Jackson St, San Francisco, CA",37795662,-122410789,11/13/15,1.95,...,4362.0,sqft,1459.0,sqft,1908.0
15067583,"946 Stockton St APT 6B, San Francisco, CA",37794715,-122407810,12/18/15,775000.00,...,710.0,sqft,NaN,NaN,1970.0
15067604,"946 Stockton St APT 9E, San Francisco, CA",37794715,-122407810,12/2/15,705000.00,...,744.0,sqft,NaN,NaN,1970.0
15067755,"1250 Clay St APT 306, San Francisco, CA",37793575,-122413670,1/10/16,695000.00,...,541.0,sqft,NaN,NaN,1950.0
15067890,"1250 Jones St APT 503, San Francisco, CA",37793071,-122414049,12/4/15,1.41,...,1250.0,sqft,NaN,NaN,1929.0
15067896,"1250 Jones St APT 802, San Francisco, CA",37793071,-122414049,12/15/15,1.68,...,1115.0,sqft,NaN,NaN,1929.0
15068039,"1170 Sacramento St APT 9B, San Francisco, CA",37792930,-122412195,12/3/15,3.80,...,1961.0,sqft,NaN,NaN,1963.0
15068514,"1177 California St APT 702, San Francisco, CA",37791089,-122413658,12/18/15,665000.00,...,511.0,sqft,NaN,NaN,1978.0
15068551,"1177 California St APT 501, San Francisco, CA",37791089,-122413658,12/15/15,900000.00,...,884.0,sqft,NaN,NaN,1978.0
15068580,"1177 California St APT 423, San Francisco, CA",37791089,-122413658,12/29/15,738000.00,...,706.0,sqft,NaN,NaN,1978.0
15068592,"1177 California St APT 304, San Francisco, CA",37791089,-122413658,12/1/15,790000.00,...,645.0,sqft,NaN,NaN,1977.0
15068767,"767-771 Pine St, San Francisco, CA",37790971,-122408473,12/31/15,2.49,...,4605.0,sqft,1376.0,sqft,1909.0
15068857,"1001 Pine St APT 608, San Francisco, CA",37790348,-122412568,12/7/15,535000.00,...,450.0,sqft,NaN,NaN,1964.0
15068874,"1001 Pine St APT 801, San Francisco, CA",37790348,-122412568,12/24/15,650000.00,...,650.0,sqft,NaN,NaN,1963.0
15069276,"795 Sutter St # 303, San Francisco, CA",37788404,-122413260,11/15/15,1.20,...,1753.0,sqft,NaN,NaN,1913.0
15069477,"631 Ofarrell St APT 816, San Francisco, CA",37785240,-122415125,12/18/15,485000.00,...,480.0,sqft,NaN,NaN,1930.0
15069628,"47-49 Casa Way, San Francisco, CA",37805371,-122439029,11/25/15,3.80,...,3905.0,sqft,2748.0,sqft,1939.0
15069883,"59 Rico Way, San Francisco, CA",37804909,-122439650,12/21/15,2.55,...,1675.0,sqft,2613.0,sqft,1925.0
15070227,"134 Alhambra St, San Francisco, CA",37802318,-122438801,1/18/16,3.08,...,2599.0,sqft,3005.0,sqft,1925.0
15070235,"180 Alhambra St, San Francisco, CA",37801939,-122439299,12/7/15,3.33,...,2864.0,sqft,2286.0,sqft,1925.0
15070255,"146 Avila St, San Francisco, CA",37801998,-122440411,12/23/15,3.02,...,2100.0,sqft,2495.0,sqft,1924.0
15070544,"1051-1053 Francisco St, San Francisco, CA",37803239,-122422458,12/1/15,9.71,...,4650.0,sqft,4726.0,sqft,1953.0
15070728,"3315 Pierce St, San Francisco, CA",37800650,-122439786,1/6/16,2.50,...,2255.0,sqft,2500.0,sqft,1925.0
15070807,"1763-1765 Chestnut St, San Francisco, CA",37801061,-122432273,12/1/15,1.38,...,3260.0,sqft,3000.0,sqft,1920.0
15071012,"2701 Van Ness Ave APT 207, San Francisco, CA",37800573,-122424849,11/30/15,885000.00,...,885.0,sqft,NaN,NaN,1929.0
15071070,"2701 Van Ness Ave APT 702, San Francisco, CA",37800573,-122424849,12/2/15,718000.00,...,793.0,sqft,NaN,NaN,1929.0
...,...,...,...,...,...,...,...,...,...,...,...
2100170419,"3947 17th Street, San Francisco, CA",37762490,-122433500,2/4/16,1.25,...,1250.0,sqft,NaN,NaN,1910.0
2100628935,"2261-65 Fulton #2263, San Francisco, CA",37772873,-122453442,1/12/16,995000.00,...,1420.0,sqft,NaN,NaN,1911.0
2100643449,"2149 Lyon St APT 4, San Francisco, CA",37790535,-122446099,12/27/15,1.10,...,NaN,NaN,NaN,NaN,1907.0
2100646549,"1529 Golden Gate Ave, San Francisco, CA",37778720,-122436600,1/7/16,2.00,...,2120.0,sqft,NaN,NaN,1900.0
2100651320,"3330 Clay St # C, San Francisco, CA",37789264,-122447761,1/5/16,1.21,...,1283.0,sqft,NaN,NaN,1910.0
2100682649,"520 Natoma St APT 9, San Francisco, CA",37779880,-122408300,12/1/15,450000.00,...,NaN,NaN,NaN,NaN,1911.0
2100695464,"532 Lyon St, San Francisco, CA",37775802,-122442710,11/24/15,4.50,...,NaN,NaN,3044.0,sqft,1904.0
2100695466,"980 Baker St APT 3, San Francisco, CA",37780437,-122441474,12/22/15,1.75,...,1758.0,sqft,NaN,NaN,1961.0
2100784055,"55 1/2 Lucy St, San Francisco, CA",37729980,-122393157,12/31/15,2500.00,...,1000.0,sqft,NaN,NaN,NaN
2100786271,"2149 Lyon St APT 1, San Francisco, CA",37790535,-122446099,12/1/15,680000.00,...,NaN,NaN,NaN,NaN,1907.0
2100791455,"130A Langton Street, San Francisco, CA",37776110,-122408270,12/13/15,750000.00,...,1000.0,sqft,NaN,NaN,1906.0
2100830039,"1731 Larkin St APT 3, San Francisco, CA",37793838,-122420013,2/9/16,1.29,...,NaN,NaN,NaN,NaN,NaN
2100831587,"164 Parker Ave # B, San Francisco, CA",37782512,-122454025,12/3/15,1.21,...,NaN,NaN,NaN,NaN,NaN
2100831588,"164 Parker Ave # A, San Francisco, CA",37782512,-122454025,11/19/15,1.16,...,NaN,NaN,NaN,NaN,NaN
2100831589,"181 Noe St, San Francisco, CA",37766201,-122433226,11/22/15,1.23,...,NaN,NaN,NaN,NaN,NaN
2100835351,"1676 Newcomb Ave, San Francisco, CA",37736278,-122391098,12/8/15,1.60,...,NaN,NaN,NaN,NaN,1900.0
2100850402,"1915 Diamond St, San Francisco, CA",37742141,-122435111,12/29/15,1.80,...,2400.0,sqft,4356.0,sqft,1910.0
2100861826,"1606 Jones St, San Francisco, CA",37796169,-122414825,12/11/15,2.80,...,4035.0,sqft,NaN,NaN,1907.0
2100901630,"1890 Jefferson Street #302, San Francisco, CA",37804840,-122442970,2/4/16,1.07,...,1018.0,sqft,NaN,NaN,1934.0
2100902229,"2299 Market St APT 502, San Francisco, CA",37764100,-122433000,12/3/15,915000.00,...,700.0,sqft,NaN,NaN,2013.0
2100992607,"2137 Pine St, San Francisco, CA",37788242,-122430988,1/15/16,1.55,...,1632.0,sqft,NaN,NaN,NaN
2100994004,"409 Miguel St, San Francisco, CA",37736625,-122427008,12/9/15,510000.00,...,400.0,sqft,NaN,NaN,NaN
2101028916,"251 Missouri St, San Francisco, CA",37763202,-122396270,12/17/15,2.45,...,2301.0,sqft,NaN,NaN,1900.0
2101094207,"1650 Florida St, San Francisco, CA",37746898,-122409301,11/29/15,970000.00,...,NaN,NaN,NaN,NaN,1904.0
2101105851,"41 Collingwood St, San Francisco, CA",37761579,-122436123,12/10/15,1.30,...,1496.0,sqft,NaN,NaN,1908.0
2101116542,"2753 Bryant St, San Francisco, CA",37750270,-122408600,1/14/16,1.70,...,4005.0,sqft,NaN,NaN,1900.0
2101147349,"244 Precita Ave, San Francisco, CA",37747330,-122415110,11/26/15,785000.00,...,625.0,sqft,NaN,NaN,1908.0
2101153805,"6 Rossi Ave, San Francisco, CA",37779494,-122456412,12/2/15,1.15,...,1912.0,sqft,NaN,NaN,1941.0
2101156735,"333 Potrero Ave, San Francisco, CA",37765266,-122407150,1/5/16,1.14,...,1776.0,sqft,3746.0,sqft,1905.0
2101167573,"1340 Union St, San Francisco, CA",37798930,-122421388,1/25/16,1.25,...,1108.0,sqft,NaN,NaN,1951.0
2101169168,"688 Douglass St, San Francisco, CA",37752803,-122438919,11/10/15,3.15,...,3500.0,sqft,2495.0,sqft,1908.0
2101175813,"414 Linden St, San Francisco, CA",37776218,-122424930,12/13/15,835000.00,...,NaN,NaN,NaN,NaN,1909.0
2101331127,"1408 31st Ave APT 303, San Francisco, CA",37760994,-122489700,12/28/15,890000.00,...,1424.0,sqft,NaN,NaN,2008.0
2101505254,"333 Beale St, San Francisco, CA",37788280,-122392100,12/3/15,1.40,...,950.0,sqft,NaN,NaN,2015.0
2101588805,"82 Alvarado St, San Francisco, CA",37754504,-122422736,11/19/15,750000.00,...,NaN,NaN,NaN,NaN,NaN
2101807538,"2619 Sacramento St, San Francisco, CA",37789371,-122436058,12/2/15,2.90,...,NaN,NaN,2038.0,sqft,1900.0
2102385068,"129 Central Ave, San Francisco, CA",37770870,-122443840,12/1/15,1.80,...,NaN,NaN,NaN,NaN,1905.0
2102906272,"444 Linden St, San Francisco, CA",37776170,-122425300,12/14/15,5800.00,...,NaN,NaN,NaN,NaN,NaN
2106229715,"2595 38th Ave, San Francisco, CA",37738600,-122496000,1/19/16,1.24,...,2414.0,sqft,1306.0,sqft,1943.0
2108411930,"3500 19th St, San Francisco, CA",37760100,-122422000,12/29/15,1.73,...,1500.0,sqft,NaN,NaN,2013.0
2108546010,"1738 Lombard St APT 4, San Francisco, CA",37800910,-122430229,1/14/16,1.40,...,NaN,NaN,NaN,NaN,2004.0
2114498518,"201 Sansome St UNIT 501, San Francisco, CA",37792255,-122401245,1/26/16,757500.00,...,658.0,sqft,NaN,NaN,1909.0
2121221385,"925 Larkin St, San Francisco, CA",37786427,-122418222,11/30/15,1.43,...,6600.0,sqft,NaN,NaN,1907.0
2121978635,"829 Folsom St UNIT 906, San Francisco, CA",37781429,-122401860,12/6/15,675000.00,...,557.0,sqft,NaN,NaN,2010.0
2122992200,"129 Octavia St, San Francisco, CA",37773192,-122424037,11/20/15,2.75,...,3655.0,sqft,NaN,NaN,1883.0
2124214951,"412 Green St APT A, San Francisco, CA",37800040,-122406100,1/15/16,390000.00,...,264.0,sqft,NaN,NaN,2012.0
2126960082,"355 1st St UNIT 1905, San Francisco, CA",37787029,-122393638,11/20/15,860000.00,...,691.0,sqft,NaN,NaN,2004.0
2128308939,"33 Santa Cruz Ave, San Francisco, CA",37709136,-122465332,12/10/15,830000.00,...,1738.0,sqft,2299.0,sqft,1976.0
2131957929,"1821 Grant Ave, San Francisco, CA",37803760,-122408531,12/15/15,835000.00,...,1048.0,sqft,NaN,NaN,1975.0
2136213970,"1200 Gough St, San Francisco, CA",37784770,-122424100,1/10/16,825000.00,...,900.0,sqft,NaN,NaN,1966.0

> ### Remove the `Latitude` and `Longitude` columns

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html)

In [38]:
df.drop(['Latitude', 'Longitude'], axis = 1, inplace = True)

In [39]:
df

,Address,DateOfSale,SalePrice,SalePriceUnit,IsAStudio,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",12/4/15,710000.00,$,False,...,550.0,sqft,NaN,NaN,1980.0
15063505,"740 Francisco St, San Francisco, CA",11/30/15,2.15,$M,False,...,1430.0,sqft,2435.0,sqft,1948.0
15063609,"819 Francisco St, San Francisco, CA",11/12/15,5.60,$M,False,...,2040.0,sqft,3920.0,sqft,1976.0
15064044,"199 Chestnut St APT 5, San Francisco, CA",12/11/15,1.50,$M,False,...,1060.0,sqft,NaN,NaN,1930.0
15064257,"111 Chestnut St APT 403, San Francisco, CA",1/15/16,970000.00,$,False,...,1299.0,sqft,NaN,NaN,1993.0
15064295,"111 Chestnut St APT 702, San Francisco, CA",12/17/15,940000.00,$,False,...,1033.0,sqft,NaN,NaN,1993.0
15064391,"1821 Grant Ave APT 101, San Francisco, CA",12/15/15,835000.00,$,False,...,1048.0,sqft,NaN,NaN,1975.0
15064536,"2300 Leavenworth St, San Francisco, CA",12/4/15,2.83,$M,False,...,2115.0,sqft,1271.0,sqft,1913.0
15064640,"1047-1049 Lombard St, San Francisco, CA",1/14/16,4.05,$M,True,...,4102.0,sqft,3049.0,sqft,1948.0
15064669,"1055 Lombard St # C, San Francisco, CA",12/31/15,2.19,$M,False,...,1182.0,sqft,NaN,NaN,1986.0
15065032,"101 Lombard St APT 116E, San Francisco, CA",12/7/15,800000.00,$,False,...,1000.0,sqft,NaN,NaN,1983.0
15065140,"1407 Montgomery St APT 2, San Francisco, CA",1/28/16,976000.00,$,False,...,1000.0,sqft,NaN,NaN,1870.0
15065727,"1360 Montgomery St APT 1, San Francisco, CA",11/16/15,720000.00,$,False,...,552.0,sqft,NaN,NaN,1937.0
15065810,"1327-1329 Kearny St, San Francisco, CA",11/25/15,2.25,$M,False,...,2658.0,sqft,1600.0,sqft,1906.0
15065946,"44 Macondray Ln APT 2E, San Francisco, CA",11/30/15,1.29,$M,False,...,1165.0,sqft,NaN,NaN,1980.0
15066001,"1070 Green St APT 201, San Francisco, CA",11/18/15,2.90,$M,False,...,1465.0,sqft,NaN,NaN,1963.0
15066036,"1070 Green St APT 1402, San Francisco, CA",12/31/15,2.60,$M,False,...,2017.0,sqft,NaN,NaN,1963.0
15066085,"1907 Leavenworth St APT 8, San Francisco, CA",11/12/15,908000.00,$,False,...,956.0,sqft,NaN,NaN,1907.0
15066201,"1101 Green St # 303, San Francisco, CA",11/16/15,1.21,$M,False,...,1003.0,sqft,NaN,NaN,1930.0
15066281,"1807 Jones St, San Francisco, CA",12/15/15,1.70,$M,False,...,1467.0,sqft,3023.0,sqft,1922.0
15066344,"999 Green St APT 905, San Francisco, CA",12/10/15,1.28,$M,False,...,986.0,sqft,NaN,NaN,1964.0
15066608,"455 Vallejo St APT 111, San Francisco, CA",12/16/15,875000.00,$,False,...,825.0,sqft,NaN,NaN,1973.0
15066839,"1163-1165 Vallejo St, San Francisco, CA",12/1/15,300000.00,$,False,...,2344.0,sqft,1376.0,sqft,1913.0
15066959,"1300 Pacific Ave, San Francisco, CA",1/14/16,425000.00,$,True,...,989.0,sqft,NaN,NaN,1910.0
15067302,"948 Jackson St, San Francisco, CA",11/13/15,1.95,$M,False,...,4362.0,sqft,1459.0,sqft,1908.0
15067583,"946 Stockton St APT 6B, San Francisco, CA",12/18/15,775000.00,$,False,...,710.0,sqft,NaN,NaN,1970.0
15067604,"946 Stockton St APT 9E, San Francisco, CA",12/2/15,705000.00,$,False,...,744.0,sqft,NaN,NaN,1970.0
15067755,"1250 Clay St APT 306, San Francisco, CA",1/10/16,695000.00,$,False,...,541.0,sqft,NaN,NaN,1950.0
15067890,"1250 Jones St APT 503, San Francisco, CA",12/4/15,1.41,$M,False,...,1250.0,sqft,NaN,NaN,1929.0
15067896,"1250 Jones St APT 802, San Francisco, CA",12/15/15,1.68,$M,False,...,1115.0,sqft,NaN,NaN,1929.0
15068039,"1170 Sacramento St APT 9B, San Francisco, CA",12/3/15,3.80,$M,False,...,1961.0,sqft,NaN,NaN,1963.0
15068514,"1177 California St APT 702, San Francisco, CA",12/18/15,665000.00,$,False,...,511.0,sqft,NaN,NaN,1978.0
15068551,"1177 California St APT 501, San Francisco, CA",12/15/15,900000.00,$,False,...,884.0,sqft,NaN,NaN,1978.0
15068580,"1177 California St APT 423, San Francisco, CA",12/29/15,738000.00,$,True,...,706.0,sqft,NaN,NaN,1978.0
15068592,"1177 California St APT 304, San Francisco, CA",12/1/15,790000.00,$,False,...,645.0,sqft,NaN,NaN,1977.0
15068767,"767-771 Pine St, San Francisco, CA",12/31/15,2.49,$M,False,...,4605.0,sqft,1376.0,sqft,1909.0
15068857,"1001 Pine St APT 608, San Francisco, CA",12/7/15,535000.00,$,True,...,450.0,sqft,NaN,NaN,1964.0
15068874,"1001 Pine St APT 801, San Francisco, CA",12/24/15,650000.00,$,False,...,650.0,sqft,NaN,NaN,1963.0
15069276,"795 Sutter St # 303, San Francisco, CA",11/15/15,1.20,$M,False,...,1753.0,sqft,NaN,NaN,1913.0
15069477,"631 Ofarrell St APT 816, San Francisco, CA",12/18/15,485000.00,$,True,...,480.0,sqft,NaN,NaN,1930.0
15069628,"47-49 Casa Way, San Francisco, CA",11/25/15,3.80,$M,False,...,3905.0,sqft,2748.0,sqft,1939.0
15069883,"59 Rico Way, San Francisco, CA",12/21/15,2.55,$M,False,...,1675.0,sqft,2613.0,sqft,1925.0
15070227,"134 Alhambra St, San Francisco, CA",1/18/16,3.08,$M,False,...,2599.0,sqft,3005.0,sqft,1925.0
15070235,"180 Alhambra St, San Francisco, CA",12/7/15,3.33,$M,False,...,2864.0,sqft,2286.0,sqft,1925.0
15070255,"146 Avila St, San Francisco, CA",12/23/15,3.02,$M,False,...,2100.0,sqft,2495.0,sqft,1924.0
15070544,"1051-1053 Francisco St, San Francisco, CA",12/1/15,9.71,$M,False,...,4650.0,sqft,4726.0,sqft,1953.0
15070728,"3315 Pierce St, San Francisco, CA",1/6/16,2.50,$M,False,...,2255.0,sqft,2500.0,sqft,1925.0
15070807,"1763-1765 Chestnut St, San Francisco, CA",12/1/15,1.38,$M,False,...,3260.0,sqft,3000.0,sqft,1920.0
15071012,"2701 Van Ness Ave APT 207, San Francisco, CA",11/30/15,885000.00,$,False,...,885.0,sqft,NaN,NaN,1929.0
15071070,"2701 Van Ness Ave APT 702, San Francisco, CA",12/2/15,718000.00,$,False,...,793.0,sqft,NaN,NaN,1929.0
...,...,...,...,...,...,...,...,...,...,...,...
2100170419,"3947 17th Street, San Francisco, CA",2/4/16,1.25,$M,False,...,1250.0,sqft,NaN,NaN,1910.0
2100628935,"2261-65 Fulton #2263, San Francisco, CA",1/12/16,995000.00,$,False,...,1420.0,sqft,NaN,NaN,1911.0
2100643449,"2149 Lyon St APT 4, San Francisco, CA",12/27/15,1.10,$M,False,...,NaN,NaN,NaN,NaN,1907.0
2100646549,"1529 Golden Gate Ave, San Francisco, CA",1/7/16,2.00,$M,False,...,2120.0,sqft,NaN,NaN,1900.0
2100651320,"3330 Clay St # C, San Francisco, CA",1/5/16,1.21,$M,False,...,1283.0,sqft,NaN,NaN,1910.0
2100682649,"520 Natoma St APT 9, San Francisco, CA",12/1/15,450000.00,$,False,...,NaN,NaN,NaN,NaN,1911.0
2100695464,"532 Lyon St, San Francisco, CA",11/24/15,4.50,$M,False,...,NaN,NaN,3044.0,sqft,1904.0
2100695466,"980 Baker St APT 3, San Francisco, CA",12/22/15,1.75,$M,False,...,1758.0,sqft,NaN,NaN,1961.0
2100784055,"55 1/2 Lucy St, San Francisco, CA",12/31/15,2500.00,$,False,...,1000.0,sqft,NaN,NaN,NaN
2100786271,"2149 Lyon St APT 1, San Francisco, CA",12/1/15,680000.00,$,False,...,NaN,NaN,NaN,NaN,1907.0
2100791455,"130A Langton Street, San Francisco, CA",12/13/15,750000.00,$,False,...,1000.0,sqft,NaN,NaN,1906.0
2100830039,"1731 Larkin St APT 3, San Francisco, CA",2/9/16,1.29,$M,False,...,NaN,NaN,NaN,NaN,NaN
2100831587,"164 Parker Ave # B, San Francisco, CA",12/3/15,1.21,$M,False,...,NaN,NaN,NaN,NaN,NaN
2100831588,"164 Parker Ave # A, San Francisco, CA",11/19/15,1.16,$M,False,...,NaN,NaN,NaN,NaN,NaN
2100831589,"181 Noe St, San Francisco, CA",11/22/15,1.23,$M,False,...,NaN,NaN,NaN,NaN,NaN
2100835351,"1676 Newcomb Ave, San Francisco, CA",12/8/15,1.60,$M,NaN,...,NaN,NaN,NaN,NaN,1900.0
2100850402,"1915 Diamond St, San Francisco, CA",12/29/15,1.80,$M,False,...,2400.0,sqft,4356.0,sqft,1910.0
2100861826,"1606 Jones St, San Francisco, CA",12/11/15,2.80,$M,False,...,4035.0,sqft,NaN,NaN,1907.0
2100901630,"1890 Jefferson Street #302, San Francisco, CA",2/4/16,1.07,$M,False,...,1018.0,sqft,NaN,NaN,1934.0
2100902229,"2299 Market St APT 502, San Francisco, CA",12/3/15,915000.00,$,False,...,700.0,sqft,NaN,NaN,2013.0
2100992607,"2137 Pine St, San Francisco, CA",1/15/16,1.55,$M,False,...,1632.0,sqft,NaN,NaN,NaN
2100994004,"409 Miguel St, San Francisco, CA",12/9/15,510000.00,$,False,...,400.0,sqft,NaN,NaN,NaN
2101028916,"251 Missouri St, San Francisco, CA",12/17/15,2.45,$M,False,...,2301.0,sqft,NaN,NaN,1900.0
2101094207,"1650 Florida St, San Francisco, CA",11/29/15,970000.00,$,False,...,NaN,NaN,NaN,NaN,1904.0
2101105851,"41 Collingwood St, San Francisco, CA",12/10/15,1.30,$M,False,...,1496.0,sqft,NaN,NaN,1908.0
2101116542,"2753 Bryant St, San Francisco, CA",1/14/16,1.70,$M,False,...,4005.0,sqft,NaN,NaN,1900.0
2101147349,"244 Precita Ave, San Francisco, CA",11/26/15,785000.00,$,False,...,625.0,sqft,NaN,NaN,1908.0
2101153805,"6 Rossi Ave, San Francisco, CA",12/2/15,1.15,$M,False,...,1912.0,sqft,NaN,NaN,1941.0
2101156735,"333 Potrero Ave, San Francisco, CA",1/5/16,1.14,$M,True,...,1776.0,sqft,3746.0,sqft,1905.0
2101167573,"1340 Union St, San Francisco, CA",1/25/16,1.25,$M,False,...,1108.0,sqft,NaN,NaN,1951.0
2101169168,"688 Douglass St, San Francisco, CA",11/10/15,3.15,$M,True,...,3500.0,sqft,2495.0,sqft,1908.0
2101175813,"414 Linden St, San Francisco, CA",12/13/15,835000.00,$,False,...,NaN,NaN,NaN,NaN,1909.0
2101331127,"1408 31st Ave APT 303, San Francisco, CA",12/28/15,890000.00,$,False,...,1424.0,sqft,NaN,NaN,2008.0
2101505254,"333 Beale St, San Francisco, CA",12/3/15,1.40,$M,False,...,950.0,sqft,NaN,NaN,2015.0
2101588805,"82 Alvarado St, San Francisco, CA",11/19/15,750000.00,$,False,...,NaN,NaN,NaN,NaN,NaN
2101807538,"2619 Sacramento St, San Francisco, CA",12/2/15,2.90,$M,True,...,NaN,NaN,2038.0,sqft,1900.0
2102385068,"129 Central Ave, San Francisco, CA",12/1/15,1.80,$M,False,...,NaN,NaN,NaN,NaN,1905.0
2102906272,"444 Linden St, San Francisco, CA",12/14/15,5800.00,$,NaN,...,NaN,NaN,NaN,NaN,NaN
2106229715,"2595 38th Ave, San Francisco, CA",1/19/16,1.24,$M,False,...,2414.0,sqft,1306.0,sqft,1943.0
2108411930,"3500 19th St, San Francisco, CA",12/29/15,1.73,$M,False,...,1500.0,sqft,NaN,NaN,2013.0
2108546010,"1738 Lombard St APT 4, San Francisco, CA",1/14/16,1.40,$M,False,...,NaN,NaN,NaN,NaN,2004.0
2114498518,"201 Sansome St UNIT 501, San Francisco, CA",1/26/16,757500.00,$,False,...,658.0,sqft,NaN,NaN,1909.0
2121221385,"925 Larkin St, San Francisco, CA",11/30/15,1.43,$M,False,...,6600.0,sqft,NaN,NaN,1907.0
2121978635,"829 Folsom St UNIT 906, San Francisco, CA",12/6/15,675000.00,$,False,...,557.0,sqft,NaN,NaN,2010.0
2122992200,"129 Octavia St, San Francisco, CA",11/20/15,2.75,$M,True,...,3655.0,sqft,NaN,NaN,1883.0
2124214951,"412 Green St APT A, San Francisco, CA",1/15/16,390000.00,$,True,...,264.0,sqft,NaN,NaN,2012.0
2126960082,"355 1st St UNIT 1905, San Francisco, CA",11/20/15,860000.00,$,False,...,691.0,sqft,NaN,NaN,2004.0
2128308939,"33 Santa Cruz Ave, San Francisco, CA",12/10/15,830000.00,$,False,...,1738.0,sqft,2299.0,sqft,1976.0
2131957929,"1821 Grant Ave, San Francisco, CA",12/15/15,835000.00,$,False,...,1048.0,sqft,NaN,NaN,1975.0
2136213970,"1200 Gough St, San Francisco, CA",1/10/16,825000.00,$,False,...,900.0,sqft,NaN,NaN,1966.0

> ### `SalePrice`: scale all amount to `$M`

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.unique.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.concat.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_index.html)

In [40]:
df.SalePriceUnit.unique()

array(['$', '$M'], dtype=object)

In [41]:
df_1 = df[df.SalePriceUnit == '$']
df_1 = df_1.drop('SalePriceUnit', axis = 1)

# Scaling sale price to $M
df_1.SalePrice /= 10 ** 6

df_6 = df[df.SalePriceUnit == '$M']
df_6 = df_6.drop('SalePriceUnit', axis = 1)

In [42]:
# Concatenate of two DataFrames by rows
df = pd.concat([df_1, df_6])

In [43]:
# Resort the new DataFrame
df.sort_index(inplace = True)

> ### `IsAStudio`: convert from a Boolean to a binary variable (i.e., 0 or 1)

In [44]:
# TODO

In [45]:
df.IsAStudio

ID
15063471      False
15063505      False
15063609      False
15064044      False
15064257      False
15064295      False
15064391      False
15064536      False
15064640       True
15064669      False
15065032      False
15065140      False
15065727      False
15065810      False
15065946      False
15066001      False
15066036      False
15066085      False
15066201      False
15066281      False
15066344      False
15066608      False
15066839      False
15066959       True
15067302      False
15067583      False
15067604      False
15067755      False
15067890      False
15067896      False
15068039      False
15068514      False
15068551      False
15068580       True
15068592      False
15068767      False
15068857       True
15068874      False
15069276      False
15069477       True
15069628      False
15069883      False
15070227      False
15070235      False
15070255      False
15070544      False
15070728      False
15070807      False
15071012      False
15071070      False
              ...
2100170419    False
2100628935    False
2100643449    False
2100646549    False
2100651320    False
2100682649    False
2100695464    False
2100695466    False
2100784055    False
2100786271    False
2100791455    False
2100830039    False
2100831587    False
2100831588    False
2100831589    False
2100835351      NaN
2100850402    False
2100861826    False
2100901630    False
2100902229    False
2100992607    False
2100994004    False
2101028916    False
2101094207    False
2101105851    False
2101116542    False
2101147349    False
2101153805    False
2101156735     True
2101167573    False
2101169168     True
2101175813    False
2101331127    False
2101505254    False
2101588805    False
2101807538     True
2102385068    False
2102906272      NaN
2106229715    False
2108411930    False
2108546010    False
2114498518    False
2121221385    False
2121978635    False
2122992200     True
2124214951     True
2126960082    False
2128308939    False
2131957929    False
2136213970    False
Name: IsAStudio, dtype: object

In [46]:
df.IsAStudio *=1.

In [47]:
df

,Address,DateOfSale,SalePrice,IsAStudio,Beds,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",12/4/15,0.7100,0,1.0,...,550.0,sqft,NaN,NaN,1980.0
15063505,"740 Francisco St, San Francisco, CA",11/30/15,2.1500,0,NaN,...,1430.0,sqft,2435.0,sqft,1948.0
15063609,"819 Francisco St, San Francisco, CA",11/12/15,5.6000,0,2.0,...,2040.0,sqft,3920.0,sqft,1976.0
15064044,"199 Chestnut St APT 5, San Francisco, CA",12/11/15,1.5000,0,1.0,...,1060.0,sqft,NaN,NaN,1930.0
15064257,"111 Chestnut St APT 403, San Francisco, CA",1/15/16,0.9700,0,2.0,...,1299.0,sqft,NaN,NaN,1993.0
15064295,"111 Chestnut St APT 702, San Francisco, CA",12/17/15,0.9400,0,2.0,...,1033.0,sqft,NaN,NaN,1993.0
15064391,"1821 Grant Ave APT 101, San Francisco, CA",12/15/15,0.8350,0,1.0,...,1048.0,sqft,NaN,NaN,1975.0
15064536,"2300 Leavenworth St, San Francisco, CA",12/4/15,2.8300,0,3.0,...,2115.0,sqft,1271.0,sqft,1913.0
15064640,"1047-1049 Lombard St, San Francisco, CA",1/14/16,4.0500,1,NaN,...,4102.0,sqft,3049.0,sqft,1948.0
15064669,"1055 Lombard St # C, San Francisco, CA",12/31/15,2.1900,0,2.0,...,1182.0,sqft,NaN,NaN,1986.0
15065032,"101 Lombard St APT 116E, San Francisco, CA",12/7/15,0.8000,0,1.0,...,1000.0,sqft,NaN,NaN,1983.0
15065140,"1407 Montgomery St APT 2, San Francisco, CA",1/28/16,0.9760,0,1.0,...,1000.0,sqft,NaN,NaN,1870.0
15065727,"1360 Montgomery St APT 1, San Francisco, CA",11/16/15,0.7200,0,1.0,...,552.0,sqft,NaN,NaN,1937.0
15065810,"1327-1329 Kearny St, San Francisco, CA",11/25/15,2.2500,0,NaN,...,2658.0,sqft,1600.0,sqft,1906.0
15065946,"44 Macondray Ln APT 2E, San Francisco, CA",11/30/15,1.2900,0,2.0,...,1165.0,sqft,NaN,NaN,1980.0
15066001,"1070 Green St APT 201, San Francisco, CA",11/18/15,2.9000,0,2.0,...,1465.0,sqft,NaN,NaN,1963.0
15066036,"1070 Green St APT 1402, San Francisco, CA",12/31/15,2.6000,0,3.0,...,2017.0,sqft,NaN,NaN,1963.0
15066085,"1907 Leavenworth St APT 8, San Francisco, CA",11/12/15,0.9080,0,2.0,...,956.0,sqft,NaN,NaN,1907.0
15066201,"1101 Green St # 303, San Francisco, CA",11/16/15,1.2100,0,2.0,...,1003.0,sqft,NaN,NaN,1930.0
15066281,"1807 Jones St, San Francisco, CA",12/15/15,1.7000,0,2.0,...,1467.0,sqft,3023.0,sqft,1922.0
15066344,"999 Green St APT 905, San Francisco, CA",12/10/15,1.2800,0,1.0,...,986.0,sqft,NaN,NaN,1964.0
15066608,"455 Vallejo St APT 111, San Francisco, CA",12/16/15,0.8750,0,1.0,...,825.0,sqft,NaN,NaN,1973.0
15066839,"1163-1165 Vallejo St, San Francisco, CA",12/1/15,0.3000,0,NaN,...,2344.0,sqft,1376.0,sqft,1913.0
15066959,"1300 Pacific Ave, San Francisco, CA",1/14/16,0.4250,1,NaN,...,989.0,sqft,NaN,NaN,1910.0
15067302,"948 Jackson St, San Francisco, CA",11/13/15,1.9500,0,NaN,...,4362.0,sqft,1459.0,sqft,1908.0
15067583,"946 Stockton St APT 6B, San Francisco, CA",12/18/15,0.7750,0,NaN,...,710.0,sqft,NaN,NaN,1970.0
15067604,"946 Stockton St APT 9E, San Francisco, CA",12/2/15,0.7050,0,2.0,...,744.0,sqft,NaN,NaN,1970.0
15067755,"1250 Clay St APT 306, San Francisco, CA",1/10/16,0.6950,0,1.0,...,541.0,sqft,NaN,NaN,1950.0
15067890,"1250 Jones St APT 503, San Francisco, CA",12/4/15,1.4100,0,1.0,...,1250.0,sqft,NaN,NaN,1929.0
15067896,"1250 Jones St APT 802, San Francisco, CA",12/15/15,1.6800,0,1.0,...,1115.0,sqft,NaN,NaN,1929.0
15068039,"1170 Sacramento St APT 9B, San Francisco, CA",12/3/15,3.8000,0,2.0,...,1961.0,sqft,NaN,NaN,1963.0
15068514,"1177 California St APT 702, San Francisco, CA",12/18/15,0.6650,0,1.0,...,511.0,sqft,NaN,NaN,1978.0
15068551,"1177 California St APT 501, San Francisco, CA",12/15/15,0.9000,0,1.0,...,884.0,sqft,NaN,NaN,1978.0
15068580,"1177 California St APT 423, San Francisco, CA",12/29/15,0.7380,1,NaN,...,706.0,sqft,NaN,NaN,1978.0
15068592,"1177 California St APT 304, San Francisco, CA",12/1/15,0.7900,0,1.0,...,645.0,sqft,NaN,NaN,1977.0
15068767,"767-771 Pine St, San Francisco, CA",12/31/15,2.4900,0,NaN,...,4605.0,sqft,1376.0,sqft,1909.0
15068857,"1001 Pine St APT 608, San Francisco, CA",12/7/15,0.5350,1,NaN,...,450.0,sqft,NaN,NaN,1964.0
15068874,"1001 Pine St APT 801, San Francisco, CA",12/24/15,0.6500,0,NaN,...,650.0,sqft,NaN,NaN,1963.0
15069276,"795 Sutter St # 303, San Francisco, CA",11/15/15,1.2000,0,3.0,...,1753.0,sqft,NaN,NaN,1913.0
15069477,"631 Ofarrell St APT 816, San Francisco, CA",12/18/15,0.4850,1,NaN,...,480.0,sqft,NaN,NaN,1930.0
15069628,"47-49 Casa Way, San Francisco, CA",11/25/15,3.8000,0,3.0,...,3905.0,sqft,2748.0,sqft,1939.0
15069883,"59 Rico Way, San Francisco, CA",12/21/15,2.5500,0,3.0,...,1675.0,sqft,2613.0,sqft,1925.0
15070227,"134 Alhambra St, San Francisco, CA",1/18/16,3.0800,0,3.0,...,2599.0,sqft,3005.0,sqft,1925.0
15070235,"180 Alhambra St, San Francisco, CA",12/7/15,3.3300,0,NaN,...,2864.0,sqft,2286.0,sqft,1925.0
15070255,"146 Avila St, San Francisco, CA",12/23/15,3.0200,0,3.0,...,2100.0,sqft,2495.0,sqft,1924.0
15070544,"1051-1053 Francisco St, San Francisco, CA",12/1/15,9.7100,0,5.0,...,4650.0,sqft,4726.0,sqft,1953.0
15070728,"3315 Pierce St, San Francisco, CA",1/6/16,2.5000,0,3.0,...,2255.0,sqft,2500.0,sqft,1925.0
15070807,"1763-1765 Chestnut St, San Francisco, CA",12/1/15,1.3800,0,NaN,...,3260.0,sqft,3000.0,sqft,1920.0
15071012,"2701 Van Ness Ave APT 207, San Francisco, CA",11/30/15,0.8850,0,NaN,...,885.0,sqft,NaN,NaN,1929.0
15071070,"2701 Van Ness Ave APT 702, San Francisco, CA",12/2/15,0.7180,0,NaN,...,793.0,sqft,NaN,NaN,1929.0
...,...,...,...,...,...,...,...,...,...,...,...
2100170419,"3947 17th Street, San Francisco, CA",2/4/16,1.2500,0,2.0,...,1250.0,sqft,NaN,NaN,1910.0
2100628935,"2261-65 Fulton #2263, San Francisco, CA",1/12/16,0.9950,0,2.0,...,1420.0,sqft,NaN,NaN,1911.0
2100643449,"2149 Lyon St APT 4, San Francisco, CA",12/27/15,1.1000,0,2.0,...,NaN,NaN,NaN,NaN,1907.0
2100646549,"1529 Golden Gate Ave, San Francisco, CA",1/7/16,2.0000,0,2.0,...,2120.0,sqft,NaN,NaN,1900.0
2100651320,"3330 Clay St # C, San Francisco, CA",1/5/16,1.2100,0,2.0,...,1283.0,sqft,NaN,NaN,1910.0
2100682649,"520 Natoma St APT 9, San Francisco, CA",12/1/15,0.4500,0,1.0,...,NaN,NaN,NaN,NaN,1911.0
2100695464,"532 Lyon St, San Francisco, CA",11/24/15,4.5000,0,5.0,...,NaN,NaN,3044.0,sqft,1904.0
2100695466,"980 Baker St APT 3, San Francisco, CA",12/22/15,1.7500,0,3.0,...,1758.0,sqft,NaN,NaN,1961.0
2100784055,"55 1/2 Lucy St, San Francisco, CA",12/31/15,0.0025,0,2.0,...,1000.0,sqft,NaN,NaN,NaN
2100786271,"2149 Lyon St APT 1, San Francisco, CA",12/1/15,0.6800,0,2.0,...,NaN,NaN,NaN,NaN,1907.0
2100791455,"130A Langton Street, San Francisco, CA",12/13/15,0.7500,0,2.0,...,1000.0,sqft,NaN,NaN,1906.0
2100830039,"1731 Larkin St APT 3, San Francisco, CA",2/9/16,1.2900,0,2.0,...,NaN,NaN,NaN,NaN,NaN
2100831587,"164 Parker Ave # B, San Francisco, CA",12/3/15,1.2100,0,2.0,...,NaN,NaN,NaN,NaN,NaN
2100831588,"164 Parker Ave # A, San Francisco, CA",11/19/15,1.1600,0,2.0,...,NaN,NaN,NaN,NaN,NaN
2100831589,"181 Noe St, San Francisco, CA",11/22/15,1.2300,0,3.0,...,NaN,NaN,NaN,NaN,NaN
2100835351,"1676 Newcomb Ave, San Francisco, CA",12/8/15,1.6000,NaN,NaN,...,NaN,NaN,NaN,NaN,1900.0
2100850402,"1915 Diamond St, San Francisco, CA",12/29/15,1.8000,0,4.0,...,2400.0,sqft,4356.0,sqft,1910.0
2100861826,"1606 Jones St, San Francisco, CA",12/11/15,2.8000,0,NaN,...,4035.0,sqft,NaN,NaN,1907.0
2100901630,"1890 Jefferson Street #302, San Francisco, CA",2/4/16,1.0700,0,2.0,...,1018.0,sqft,NaN,NaN,1934.0
2100902229,"2299 Market St APT 502, San Francisco, CA",12/3/15,0.9150,0,1.0,...,700.0,sqft,NaN,NaN,2013.0
2100992607,"2137 Pine St, San Francisco, CA",1/15/16,1.5500,0,4.0,...,1632.0,sqft,NaN,NaN,NaN
2100994004,"409 Miguel St, San Francisco, CA",12/9/15,0.5100,0,1.0,...,400.0,sqft,NaN,NaN,NaN
2101028916,"251 Missouri St, San Francisco, CA",12/17/15,2.4500,0,4.0,...,2301.0,sqft,NaN,NaN,1900.0
2101094207,"1650 Florida St, San Francisco, CA",11/29/15,0.9700,0,3.0,...,NaN,NaN,NaN,NaN,1904.0
2101105851,"41 Collingwood St, San Francisco, CA",12/10/15,1.3000,0,3.0,...,1496.0,sqft,NaN,NaN,1908.0
2101116542,"2753 Bryant St, San Francisco, CA",1/14/16,1.7000,0,9.0,...,4005.0,sqft,NaN,NaN,1900.0
2101147349,"244 Precita Ave, San Francisco, CA",11/26/15,0.7850,0,1.0,...,625.0,sqft,NaN,NaN,1908.0
2101153805,"6 Rossi Ave, San Francisco, CA",12/2/15,1.1500,0,3.0,...,1912.0,sqft,NaN,NaN,1941.0
2101156735,"333 Potrero Ave, San Francisco, CA",1/5/16,1.1400,1,NaN,...,1776.0,sqft,3746.0,sqft,1905.0
2101167573,"1340 Union St, San Francisco, CA",1/25/16,1.2500,0,2.0,...,1108.0,sqft,NaN,NaN,1951.0
2101169168,"688 Douglass St, San Francisco, CA",11/10/15,3.1500,1,NaN,...,3500.0,sqft,2495.0,sqft,1908.0
2101175813,"414 Linden St, San Francisco, CA",12/13/15,0.8350,0,1.0,...,NaN,NaN,NaN,NaN,1909.0
2101331127,"1408 31st Ave APT 303, San Francisco, CA",12/28/15,0.8900,0,2.0,...,1424.0,sqft,NaN,NaN,2008.0
2101505254,"333 Beale St, San Francisco, CA",12/3/15,1.4000,0,1.0,...,950.0,sqft,NaN,NaN,2015.0
2101588805,"82 Alvarado St, San Francisco, CA",11/19/15,0.7500,0,2.0,...,NaN,NaN,NaN,NaN,NaN
2101807538,"2619 Sacramento St, San Francisco, CA",12/2/15,2.9000,1,NaN,...,NaN,NaN,2038.0,sqft,1900.0
2102385068,"129 Central Ave, San Francisco, CA",12/1/15,1.8000,0,3.0,...,NaN,NaN,NaN,NaN,1905.0
2102906272,"444 Linden St, San Francisco, CA",12/14/15,0.0058,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
2106229715,"2595 38th Ave, San Francisco, CA",1/19/16,1.2400,0,3.0,...,2414.0,sqft,1306.0,sqft,1943.0
2108411930,"3500 19th St, San Francisco, CA",12/29/15,1.7300,0,2.0,...,1500.0,sqft,NaN,NaN,2013.0
2108546010,"1738 Lombard St APT 4, San Francisco, CA",1/14/16,1.4000,0,2.0,...,NaN,NaN,NaN,NaN,2004.0
2114498518,"201 Sansome St UNIT 501, San Francisco, CA",1/26/16,0.7575,0,1.0,...,658.0,sqft,NaN,NaN,1909.0
2121221385,"925 Larkin St, San Francisco, CA",11/30/15,1.4300,0,NaN,...,6600.0,sqft,NaN,NaN,1907.0
2121978635,"829 Folsom St UNIT 906, San Francisco, CA",12/6/15,0.6750,0,1.0,...,557.0,sqft,NaN,NaN,2010.0
2122992200,"129 Octavia St, San Francisco, CA",11/20/15,2.7500,1,NaN,...,3655.0,sqft,NaN,NaN,1883.0
2124214951,"412 Green St APT A, San Francisco, CA",1/15/16,0.3900,1,NaN,...,264.0,sqft,NaN,NaN,2012.0
2126960082,"355 1st St UNIT 1905, San Francisco, CA",11/20/15,0.8600,0,1.0,...,691.0,sqft,NaN,NaN,2004.0
2128308939,"33 Santa Cruz Ave, San Francisco, CA",12/10/15,0.8300,0,3.0,...,1738.0,sqft,2299.0,sqft,1976.0
2131957929,"1821 Grant Ave, San Francisco, CA",12/15/15,0.8350,0,2.0,...,1048.0,sqft,NaN,NaN,1975.0
2136213970,"1200 Gough St, San Francisco, CA",1/10/16,0.8250,0,1.0,...,900.0,sqft,NaN,NaN,1966.0

> ### `Size`

In [ ]:
df.SizeUnit.unique()

Size is either in square feet or missing.  Almost no work needed except to remove size unit.

In [49]:
df.drop('SizeUnit', axis = 1, inplace = True)

> ### `LotSize`: scale all values to square feet

In [50]:
df.LotSizeUnit.unique()

array([nan, 'sqft', 'ac'], dtype=object)

Lot sizes are either in square feet or in acres.  Let's convert them all to square feet.

> Group #1: the `na` values:

In [51]:
df_na = df[df.LotSizeUnit.isnull()]
df_na = df_na.drop('LotSizeUnit', axis = 1)

df_na.shape[0]

444

> Group #2: the `sqft` values:

In [52]:
# TODO (use df_sqft)

df_sqft = df[df.LotSizeUnit.isnull()]
df_sqft = df_sqft.drop('LotSizeUnit', axis = 1)

df_sqft.shape[0]

444

> Group #3: the `ac` values:

In [53]:
# TODO (use df_ac)

df_ac = df[df.LotSizeUnit.isnull()]
df_ac = df_ac.drop('LotSizeUnit', axis = 1)

df_ac.shape[0]

444

> Let's scale these `acre` values into `sqft`:

In [54]:
df_ac

,Address,DateOfSale,SalePrice,IsAStudio,Beds,Baths,Size,LotSize,BuiltInYear
ID,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",12/4/15,0.710,0,1.0,NaN,550.0,NaN,1980.0
15064044,"199 Chestnut St APT 5, San Francisco, CA",12/11/15,1.500,0,1.0,1.0,1060.0,NaN,1930.0
15064257,"111 Chestnut St APT 403, San Francisco, CA",1/15/16,0.970,0,2.0,2.0,1299.0,NaN,1993.0
15064295,"111 Chestnut St APT 702, San Francisco, CA",12/17/15,0.940,0,2.0,2.0,1033.0,NaN,1993.0
15064391,"1821 Grant Ave APT 101, San Francisco, CA",12/15/15,0.835,0,1.0,1.0,1048.0,NaN,1975.0
...,...,...,...,...,...,...,...,...,...
2122992200,"129 Octavia St, San Francisco, CA",11/20/15,2.750,1,NaN,NaN,3655.0,NaN,1883.0
2124214951,"412 Green St APT A, San Francisco, CA",1/15/16,0.390,1,NaN,1.0,264.0,NaN,2012.0
2126960082,"355 1st St UNIT 1905, San Francisco, CA",11/20/15,0.860,0,1.0,1.0,691.0,NaN,2004.0
2131957929,"1821 Grant Ave, San Francisco, CA",12/15/15,0.835,0,2.0,2.0,1048.0,NaN,1975.0
2136213970,"1200 Gough St, San Francisco, CA",1/10/16,0.825,0,1.0,1.0,900.0,NaN,1966.0

In [ ]:
# (1 acre = 43,560 sqft)

# TODO

Let's now put everything back together...

In [ ]:
df = pd.concat([df_na, df_sqft, df_ac]).sort_index()

In [ ]:
df

> ## `.to_csv`: save the `DataFrame` into a `.csv` file

At the end of each phase (i.e., wrangling) of your data science project, it is a good idea to save your dataset into disk.  Then for the next step, create a new Jupyther notebook and load your updated dataset

In [58]:
df.to_csv(os.path.join('..', 'datasets', 'dataset-02-zillow.csv'), index_label = 'ID')

## Part C - More advanced topics

### `.groupby()`

(http://pandas.pydata.org/pandas-docs/stable/groupby.html)

> What is the mean price of houses by number of bedrooms?

In [59]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-02-zillow.csv'))

In [60]:
df[ ['Beds', 'SalePrice'] ].groupby('Beds').mean()

      SalePrice
Beds
1.0    0.820425
2.0    1.192398
3.0    1.404323
4.0    1.879330
5.0    2.867720
6.0    2.587222
7.0    5.543167
8.0    1.960000
9.0    1.766667

In [61]:
df[ ['Beds', 'SalePrice'] ].groupby('Beds') #.mean()

### `.map()`

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.map.html)

When converting `SalePrice`, `Size`, and `LotSize` into `$M` and sqft, we could also have done the following:

In [62]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-02-zillow-starter.csv'))

In [63]:
df.SalePriceUnit.unique()

array(['$', '$M'], dtype=object)

In [64]:
df.SalePriceUnit.map({'$': 1. / (10 ** 6), '$M': 1.})

0      0.000001
1      1.000000
2      1.000000
3      1.000000
4      0.000001
         ...
995    0.000001
996    0.000001
997    0.000001
998    0.000001
999    0.000001
Name: SalePriceUnit, dtype: float64

In [66]:
df.SalePrice *= df.SalePriceUnit.map({'$': 1. / (10 ** 6), '$M': 1.})

In [67]:
df.SalePrice

0      0.710
1      2.150
2      5.600
3      1.500
4      0.970
       ...
995    0.390
996    0.860
997    0.830
998    0.835
999    0.825
Name: SalePrice, dtype: float64

In [ ]:
df.drop('SalePriceUnit', axis = 1, inplace = True)

> ### Activity:  Using `.map()`, convert `Size` and `LotSize` to sqft.

In [ ]:
# TODO

### `.to_datetime()`

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)

In [68]:
df.DateOfSale

0       12/4/15
1      11/30/15
2      11/12/15
3      12/11/15
4       1/15/16
         ...
995     1/15/16
996    11/20/15
997    12/10/15
998    12/15/15
999     1/10/16
Name: DateOfSale, dtype: object

So far, the dates stored in the `DataFrame` are just strings.  We cannot easily extract the day, month, year.  Thanksfully, `pandas` provides some facilities to do so.

In [ ]:
pd.to_datetime(df.DateOfSale)

In [ ]:
df.DateOfSale = pd.to_datetime(df.DateOfSale)

### `.apply()`

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.apply.html)

In [ ]:
df.DateOfSale.apply(lambda date_of_sale: date_of_sale.year)

In [ ]:
df['YearOfSale'] = df.DateOfSale.apply(lambda date_of_sale: date_of_sale.year)
df['MonthOfSale'] = df.DateOfSale.apply(lambda date_of_sale: date_of_sale.month)
df['DayOfSale'] = df.DateOfSale.apply(lambda date_of_sale: date_of_sale.day)
df['WeekDayOfSale'] = df.DateOfSale.apply(lambda date_of_sale: date_of_sale.weekday_name)

df.drop('DateOfSale', axis = 1, inplace = True)

Now, we have the day, day of the week, month, and year of the sale as features in our dataset.

In [ ]:
df