# DS-SF-34 | 03 | Databases, Scrapping, and APIs | Assignment | Starter Code

## The Bistro Meets `SQLite`

In this assignment, we will be exploring the `bistro` dataset.  The previous assignment used `pandas`.  Today, we'll answer the same questions but using `SQLite`.  In some situations, `pandas` will be a better solution.  In others, doing it using `SQL` will make more sense.  As you gain more experience, you'll know which one to use.

> ### Question 1.  Import the `sqlite3` package.

In [5]:
import os

import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

import sqlite3

# TODO

> ### Question 2.  Connect to the `dataset-03-bistro.db` database.  The rest of this assignment focus on the `bistro` table.

In [6]:
# TODO
db = sqlite3.connect(os.path.join('..', 'datasets', 'dataset-03-bistro.db'))

In [6]:
# TODO

pd.io.sql.read_sql(
'''
SELECT COUNT(*)
    FROM bistro
;
''', con = db)

   COUNT(*)
0       244

> ### Question 3.  How many samples (i.e., rows) are in this dataset?

Answer: TODO

> ### Question 4.  Print the first two rows of the table to the console.

In [7]:
# TODO
pd.io.sql.read_sql(
'''
SELECT *
    FROM bistro
    LIMIT 2
;
''', con = db)

   index     day    time      name  gender  is_smoker  party  check   tip
0      0  Sunday  Dinner  Kimberly  Female          0      2  16.99  1.01
1      1  Sunday  Dinner  Nicholas    Male          0      3  10.34  1.66

> ### Question 5.  For which week days does the dataset has data for?

In [9]:
# TODO

pd.io.sql.read_sql(
'''
SELECT DISTINCT day
    FROM bistro
;
''', con = db)

        day
0    Sunday
1  Saturday
2  Thursday
3    Friday

Answer: TODO

> ### Question 6.  How often was the bistro patronized for each week day?

In [ ]:
# TODO


pd.io.sql.read_sql(
'''
SELECT COUNT(*)
    FROM bistro
;
''', con = db)

Answer: TODO

> ### Question 7.  How much tip did waiters collect for each week day?

In [11]:
# TODO

pd.io.sql.read_sql(
'''
SELECT *
    FROM bistro
    limit 1
;
''', con = db)

   index     day    time      name  gender  is_smoker  party  check   tip
0      0  Sunday  Dinner  Kimberly  Female          0      2  16.99  1.01

In [12]:
# TODO

pd.io.sql.read_sql(
'''
SELECT day, AVG(tip)
    FROM bistro
    GROUP by day
;
''', con = db)

        day  AVG(tip)
0    Friday  2.734737
1  Saturday  2.993103
2    Sunday  3.255132
3  Thursday  2.771452

Answer: TODO

> ### Question 8.  What is the average tip per check (in absolute \$) for each week day?

In [13]:
# TODO

pd.io.sql.read_sql(
'''
SELECT day, COUNT(), AVG(tip)
    FROM bistro
    GROUP by day
;
''', con = db)

        day  COUNT()  AVG(tip)
0    Friday       19  2.734737
1  Saturday       87  2.993103
2    Sunday       76  3.255132
3  Thursday       62  2.771452

Answer: TODO

> ### Question 9.  What is the average tip per check (as a percentage of the check) for each week day?

(`CHECK` is a reserved keywork; use `` `check` `` (put the name between backticks) to reference the `check` column)

In [15]:
# TODO

pd.io.sql.read_sql(
'''
SELECT day,  AVG(tip)/AVG(`check`)
    FROM bistro
    GROUP by day
;
''', con = db)

        day  AVG(tip)/AVG(`check`)
0    Friday               0.159445
1  Saturday               0.146424
2    Sunday               0.152038
3  Thursday               0.156732

Answer: TODO

> ### Question 10.  Are there any name in common between male and female patrons?  (E.g., `Chris` can refer to either a man or a woman)

(check `numpy.intersect1d()`; it could come in handy)

(https://docs.scipy.org/doc/numpy/reference/generated/numpy.intersect1d.html)

In [8]:
pd.io.sql.read_sql(
'''
SELECT *
    FROM bistro
    LIMIT 5
;
''', con = db)

   index     day    time      name  gender  is_smoker  party  check   tip
0      0  Sunday  Dinner  Kimberly  Female          0      2  16.99  1.01
1      1  Sunday  Dinner  Nicholas    Male          0      3  10.34  1.66
2      2  Sunday  Dinner     Larry    Male          0      3  21.01  3.50
3      3  Sunday  Dinner    Joseph    Male          0      2  23.68  3.31
4      4  Sunday  Dinner    Janice  Female          0      4  24.59  3.61

In [ ]:
# TODO

pd.io.sql.read_sql(
'''

;
''', con = db)

Answer: TODO

> ### Question 11.  If no patrons share the same name, how many unique patrons are in the dataset?

In [ ]:
# TODO

Answer: TODO

> ### Question 12.  How many times did `Kevin` patronized the bistro?  How about `Alice`?

In [ ]:
# TODO

Answer: TODO

> ### Question 13.  Who are the top 3 female and male patrons?

In [ ]:
# TODO

Answer: TODO

> ### Question 14.  Who's the best tipper (as a fraction of all tips over all check totals)?  Who's the worst?  How many times did they patronize the bistro?

In [ ]:
# TODO

Answer: TODO