# DS-SF-34 | Unit Project | 2 | Exploratory Data Analysis | Starter Code

In this project, you will implement the exploratory analysis plan developed in Unit Project 1.  This will lay the groundwork for our modeling exercise in Unit Project 3.

First, load the python libraries you will need for this project:

In [2]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm

pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 10)
pd.set_option('display.notebook_repr_html', True)

%matplotlib inline
plt.style.use('ggplot')

Then, read in your dataset:

In [3]:
df = pd.read_csv(os.path.join('..', '..', 'dataset', 'dataset-ucla-admissions.csv'))

df

     admit    gre   gpa  prestige
0        0  380.0  3.61       3.0
1        1  660.0  3.67       3.0
2        1  800.0  4.00       1.0
3        1  640.0  3.19       4.0
4        0  520.0  2.93       4.0
..     ...    ...   ...       ...
395      0  620.0  4.00       2.0
396      0  560.0  3.04       3.0
397      0  460.0  2.63       2.0
398      0  700.0  3.65       2.0
399      0  600.0  3.89       3.0

[400 rows x 4 columns]

## Questions

> ### Question 1.  How many observations are in our dataset?

In [4]:
# TODO
df.columns

Index([u'admit', u'gre', u'gpa', u'prestige'], dtype='object')

Answer: TODO

> ### Question 2.  Create a summary table.

In [21]:
df.describe()

            admit         gre        gpa    prestige
count  400.000000  398.000000  398.00000  399.000000
mean     0.317500  588.040201    3.39093    2.486216
std      0.466087  115.628513    0.38063    0.945333
min      0.000000  220.000000    2.26000    1.000000
25%      0.000000  520.000000    3.13000    2.000000
50%      0.000000  580.000000    3.39500    2.000000
75%      1.000000  660.000000    3.67000    3.000000
max      1.000000  800.000000    4.00000    4.000000

In [10]:
# TODO
df.isnull().sum()

admit       0
gre         2
gpa         2
prestige    1
dtype: int64

In [15]:
df.isnull()

     admit    gre    gpa prestige
0    False  False  False    False
1    False  False  False    False
2    False  False  False    False
3    False  False  False    False
4    False  False  False    False
..     ...    ...    ...      ...
395  False  False  False    False
396  False  False  False    False
397  False  False  False    False
398  False  False  False    False
399  False  False  False    False

[400 rows x 4 columns]

In [20]:
df_nullrows= df[df.isnull()]
df_nullrows

     admit  gre  gpa  prestige
0      NaN  NaN  NaN       NaN
1      NaN  NaN  NaN       NaN
2      NaN  NaN  NaN       NaN
3      NaN  NaN  NaN       NaN
4      NaN  NaN  NaN       NaN
..     ...  ...  ...       ...
395    NaN  NaN  NaN       NaN
396    NaN  NaN  NaN       NaN
397    NaN  NaN  NaN       NaN
398    NaN  NaN  NaN       NaN
399    NaN  NaN  NaN       NaN

[400 rows x 4 columns]

> ### Question 3.  Why would `gre` have a larger variance than `gpa`?

In [ ]:
# TODO

Answer: TODO

> ### Question 4.  Drop data points with missing data.

In [ ]:
# TODO

> ### Question 5.  Confirm that you dropped the correct data.  How can you tell?

In [ ]:
# TODO

Answer: TODO

> ### Question 6.  Create boxplots for `gre` and `gpa`.

In [ ]:
# TODO

In [ ]:
# TODO

> ### Question 7.  What do boxplots show?

Answer: TODO

> ### Question 8.  Plot the distribution of each variable.

In [ ]:
# TODO

In [ ]:
# TODO

In [ ]:
# TODO

In [ ]:
# TODO

> ### Question 9.  If our model had an assumption of a normal distribution for `gre` and `gpa`, would we meet that requirement?  Would their distributions need correction?  If so, why, why not?  How?

In [ ]:
# TODO

In [ ]:
# TODO

Answer: TODO

> ### Question 10.  Create a correlation matrix for the dataset.

In [ ]:
# TODO

> ### Question 11.  What did you find?  Which of our variables are potentially colinear?

Answer: TODO

> ### Question 12.  Write an analysis plan for exploring the association between graduate school admission rates and prestige of undergraduate schools.

Answer: TODO

> ### Question 13.  What is your hypothesis?

Answer: TODO