# DS-SF-34 | Unit Project | 1 | Research Design | Starter Code

In this first unit project, you will create a framework to scope out data science projects.  This framework will provide you with a guide to develop a well-articulated problem statement and analysis plan that will be robust and reproducible.

## Part A.  Evaluate the following problem statement:

> "Determine which free-tier customers will covert to paying customers, using demographic data collected at signup (age, gender, location, and profession) and customer useage data (days since last log in, and `activity score 1 = active user`, `0 = inactive user`) based on Hooli data from January-April 2015."

> ### Question 1.  What is the outcome?

Answer: TODO

The outcome will be a certain patern (e.g. table) of demographic data (age, gender, location, and profession) and customer useage data, which could indicate free-tier customrers becomes paying customers.

> ### Question 2.  What are the predictors/covariates?

Answer: TODO

Customer useage data (activity score).

> ### Question 3.  What timeframe is this data relevent for?

Answer: TODO

January-April 2015

> ### Question 4.  What is the hypothesis?

Answer: TODO

Hypothesis is that there is a correlationship between demographic data/customer usage data and conversion of free-tier customer to paying customer.

## Part B.  Let's start exploring our UCLA dataset and answer some simple questions:

In [3]:
import os
import pandas as pd

pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 10)
pd.set_option('display.notebook_repr_html', True)

df = pd.read_csv(os.path.join('..', '..', 'dataset', 'dataset-ucla-admissions.csv'))

df

     admit    gre   gpa  prestige
0        0  380.0  3.61       3.0
1        1  660.0  3.67       3.0
2        1  800.0  4.00       1.0
3        1  640.0  3.19       4.0
4        0  520.0  2.93       4.0
..     ...    ...   ...       ...
395      0  620.0  4.00       2.0
396      0  560.0  3.04       3.0
397      0  460.0  2.63       2.0
398      0  700.0  3.65       2.0
399      0  600.0  3.89       3.0

[400 rows x 4 columns]

In [4]:
df.sort_values(by=['gpa'])

     admit    gre   gpa  prestige
289      0  420.0  2.26       4.0
40       0  560.0  2.42       2.0
372      1  680.0  2.42       1.0
48       0  440.0  2.48       4.0
156      0  560.0  2.52       2.0
..     ...    ...   ...       ...
70       0  640.0  4.00       3.0
252      1  520.0  4.00       2.0
310      0  560.0  4.00       3.0
187      0    NaN   NaN       2.0
236      1  660.0   NaN       NaN

[400 rows x 4 columns]

> ### Question 5.  Create a data dictionary.

Answer: TODO

(Use the template below)

Variable | Description | Type of Variable
---|---|---
admit | 0 = rejected, 1 = admitted | Categorical
gre | GRE scores | Continuous
gpa | GPA scores | Continuous
prestige | Rating of the student | Categorical

In [5]:
df.isnull().sum()

admit       0
gre         2
gpa         2
prestige    1
dtype: int64

In [6]:
df_Null = df[(df.gre.isnull()==True) | (df.gpa.isnull()==True) | (df.prestige.isnull()==True)]
df_Null

#| (df.gre.isnull==True) | (df.gpa.isnull==True) | (df.prestige.isnull==True)

     admit    gre   gpa  prestige
187      0    NaN   NaN       2.0
212      0    NaN  2.87       2.0
236      1  660.0   NaN       NaN

We would like to explore the association between gre score and admition.

> ### Question 6.  What is the outcome?

Answer: TODO

The outcome should be certain patterns of gre score, gpa score, and/or, prestige could indicate whether or not a student will be admitted by UCLA.

In [7]:
df_gre_notNull = df[(df.gre.isnull()==False)]
df_gre_notNull

     admit    gre   gpa  prestige
0        0  380.0  3.61       3.0
1        1  660.0  3.67       3.0
2        1  800.0  4.00       1.0
3        1  640.0  3.19       4.0
4        0  520.0  2.93       4.0
..     ...    ...   ...       ...
395      0  620.0  4.00       2.0
396      0  560.0  3.04       3.0
397      0  460.0  2.63       2.0
398      0  700.0  3.65       2.0
399      0  600.0  3.89       3.0

[398 rows x 4 columns]

In [8]:
df_gre_notNull[['admit','gre']].groupby('admit').mean()

              gre
admit
0      573.579336
1      618.897638

In [9]:
df_gre_notNull[['admit','gre']].groupby('admit').max()

         gre
admit
0      800.0
1      800.0

In [10]:
df_gre_notNull[['admit','gre','gpa','prestige']].groupby('admit').min()

         gre   gpa  prestige
admit
0      220.0  2.26       1.0
1      300.0  2.42       1.0

In [11]:
df.mean()

admit         0.317500
gre         588.040201
gpa           3.390930
prestige      2.486216
dtype: float64

In [12]:
df.median()

admit         0.000
gre         580.000
gpa           3.395
prestige      2.000
dtype: float64

In [13]:
df_perctl = df.rank()
df_perctl

     admit    gre    gpa  prestige
0    137.0   16.5  278.0     272.0
1    337.0  287.5  299.5     272.0
2    337.0  386.0  384.5      31.0
3    337.0  265.0  125.0     366.0
4    137.0  110.5   50.0     366.0
..     ...    ...    ...       ...
395  137.0  239.5  384.5     136.5
396  137.0  161.5   78.5     272.0
397  137.0   55.0   10.0     136.5
398  137.0  330.5  294.5     136.5
399  137.0  213.0  347.0     272.0

[400 rows x 4 columns]

In [14]:
df_admitted = df[(df.admit == 1)]
df_admitted.mean()

admit         1.000000
gre         618.897638
gpa           3.489206
prestige      2.150794
dtype: float64

> ### Question 7.  What are the predictors/covariates?

Answer: TODO

The gre score, gpa score, and/or prestige ranking.

> ### Question 8.  What timeframe is this data relevent for?

Answer: TODO

The timeframe is unknow in this dataset.

> ### Question 9.  What is the hypothesis?

Answer: TODO

Hypothesis is that there is a correlationship between gre score, gpa score, and prestige ranking of a student and he/she being admitted by UCLA.

> ### Question 10.  What's the problem statement?

> Using your answers to the above questions, write a well-formed problem statement.

Answer: TODO

Would the gre score, gpa score, and/or prestige ranking of a student be able to predict whether or not the student will be admited by UCLA? 

If yes, what is the pattern of gre score, gpa score, and/or prestige ranking of a student that can predict whether or not the student will be admited by UCLA?

## Part C.  Create an exploratory analysis plan by answering the following questions:

Because the answers to these questions haven't yet been covered in class yet, this section is optional.  This is by design.  By having you guess or look around for these answers will help make sense once we cover this material in class.  You will not be penalized for wrong answers but we encourage you to give it a try!

> ### Question 11. What are the goals of the exploratory analysis?

Answer: TODO

Discover patterns in the dataset, build a model utilizeing the patterns to, and test model on a new set of data to determine the efficiency/predictability of the model.

> ### Question 12.  What are the assumptions of the distribution of data?

Answer: TODO
Normal distribution.

> ### Question 13.  How will determine the distribution of your data?

Answer: TODO
Becasue UCLA is a world famous school, students applying for UCLA could be highly successful high school students, this could potentially creates a bias in the population.

> ### Question 14.  How might outliers impact your analysis?

Answer: TODO

Outliers adds noise into the dataset. Matching the noise will generate more generalization errors.

> ### Question 15.  How will you test for outliers?

Answer: TODO

Outliers are the ones do not fit the patterns established by the current preditors, so they should be examined separately and potentially using other preditors/covariances.

> ### Question 16.  What is colinearity?

Answer: TODO

> ### Question 17.  How will you test for covariance?

Answer: TODO

> ### Question 18.  What is your exploratory analysis plan?

> Using the above information, write an exploratory analysis plan that would allow you or a colleague to reproduce your analysis one year from now.

Answer: TODO

First, would like to find the pattern of dataset - admit vs gre, admit vs gpa, admit vs prestige, and/or any combination of the elements. 

Second, slice the dataset into 3 groups - high (gre, gpa, and prestige), moderate (gre, gpa, and prestige), and low (gre, gpa, and prestige), and then explore the relationshipt betwen admit rate and the covariances withing the 3 groups. 

Third, maybe certain covariance is more important than others in terms of being admitted by UCLA, so the group can be further sliced into more groups, such as high gre and gpa with moderate prestige as 1 group, high gre with moderate  gpa and prestige as 1 group, and high prestige with moderate gre and gpa and prestige as 1 group. 

Fourth, maybe there is a minimum requirement for gre and gpa score, then after the minimum scores (gre and gpa), the only thing matter is prestige ranking.